# Web-Scraping

In [1]:
#importing all the required libraries
import selenium
import pandas as pd
from selenium import webdriver

### Q1: To scrape data for “Data Analyst” Job position in “Bangalore” location.

In [2]:
#connecting to the web driver
driver = webdriver.Chrome("Chromedriver.exe")

In [3]:
#get the url
url = 'https://www.naukri.com/'
driver.get(url)

In [4]:
search_job = driver.find_element_by_class_name('sugInp')
search_job

In [5]:
#writing Data Analyst in Job Title,Keyword,Company field
search_job.send_keys("Data Analyst")

In [6]:
#writing Bangalore in location field
search_loc = driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Bangalore")

In [7]:
#clicking search button using Xpath function 
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [8]:
#extract all tags having job_titles
title_tags= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[:10]
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="02e6eecb-bf7e-428a-944e-6a501a55cd11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="e87afd47-9fc6-4b36-97e3-c3d763ccc84e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="340e445a-c3d2-4470-88af-7b13ff03dd5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="b8bd3f8e-888f-4991-a8ab-23abc8eddbc2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="5e26d755-16fc-4b3a-8814-84cd8d322e09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="2ed6f048-75d1-4db7-b7d0-08ed3d5dab8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="cbd0c376-0bc1-4554-85f2-16ef7566b8bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="6759d9fd-f47e-4075-82b5-dce60303ffa3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="260a2fe1-4437-47bc-9979-8e41f9b27554")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="19c16405-d80f-4910-9027-2ed3d7c5452b")>]

In [9]:
#run the loop to iterate over the tags and extract the text inside them
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Senior Data Analyst',
 'Consultant-Data Analyst -Bangalore',
 'Senior Security Specialist - CS Awareness & Data Analyst',
 'Data Analyst (Ops portal)',
 'Advanced Services Engineer - Data Analyst',
 'Senior Data Analyst',
 'Data analysts',
 'Data analysts',
 'Data Analyst']

In [10]:
#extract all the tags having company_name
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[:10]
companies_tags

[<selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="c963fb50-ae4f-44ad-bf24-b75cab334009")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="fb00cd91-d644-479a-9d59-9a93530e08c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="c62037e0-0250-4142-93b2-e00b418885a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="95ce658f-1ca4-4e48-a353-1517a0edaaae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="b3f65502-d44c-4cac-865b-6fe80b3dba05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="31f3c135-1eda-403e-95a6-145909c4e077")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="8aeff6b9-7383-4b9b-90f4-e061f8004049")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="3117cd00-ffc3-41b5-8a97-3dbe284a90ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="912049a1-c8da-4f2e-9af3-6223398be3b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="f2738ee0-bdae-45f1-bee1-15d310fd9096")>]

In [11]:
#run the loop to iterate over the tags and extract the text inside them
company_names=[]
for i in companies_tags:
    company_names.append(i.text)
company_names

['Inflexion Analytix Private Limited',
 'Liventus, Inc.',
 'Innovsource Services Private Limited',
 'Cognizant Technology Solutions India Pvt Ltd',
 'Luxoft',
 'Juniper Networks India Pvt Ltd',
 'Flipkart Internet Private Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Zilingo.com']

In [12]:
#extract all the tags having experience required 
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")[:10]
experience_tags

[<selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="f6c6eb0b-39ed-44f1-91c3-36b73216afaa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="3c9c89c1-f742-4df4-81ba-489016a71268")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="aec3d270-85a6-4184-adba-0cfd7a1e673f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="da0d4777-4120-4c1c-a4bf-0ab405f385b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="f916bf46-953c-47b6-8a24-d7a4552aff88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="436c6d82-642a-470a-a415-afae5404c3cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="d2a0461c-7371-47f3-84d2-756ecb23bfe0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="db9d4af2-0ac7-47e2-aee5-dd33a3782354")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="de0b27aa-4ed5-4d14-98f6-4e1daeb41854")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="6f45c6cb-9545-488f-97a3-96fc24ae28bd")>]

In [13]:
#run the loop to iterate over the tags and extract the text inside them
experience_list=[]
for i in experience_tags:
    experience_list.append(i.text)
experience_list

['0-3 Yrs',
 '5-8 Yrs',
 '2-3 Yrs',
 '4-7 Yrs',
 '3-6 Yrs',
 '4-8 Yrs',
 '4-5 Yrs',
 '3-5 Yrs',
 '5-6 Yrs',
 '0-4 Yrs']

In [14]:
#extract all the tags having location
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")[:10]
locations_tags

[<selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="8e08e16c-e766-4100-9b32-7e8a53bd113a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="22b2a789-6621-458a-ae85-1a17e1944827")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="71200107-b510-4de3-be89-d074930991ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="24a908a1-5d0a-4982-9ae3-5869b7b4db71")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="7a3004e4-b60f-4f2a-9e63-88b09d67e0c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="fcbf9c54-bbcb-4c83-a0a9-33e359e6cced")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="9262ea96-57d7-4caf-880d-23ed8fb4f0ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="52ed57c5-32f6-400a-a35a-f83a03c149e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="5589e21d-6dfe-46ad-a311-c7a7633b97bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="700bdbd33ce9f54e8a200a4a5fd77b1b", element="c056a362-ab03-49f9-8fd8-aea483561748")>]

In [15]:
#run the loop to iterate over the tags and extract the text inside them
locations_list=[]
for i in locations_tags:
    locations_list.append(i.text)
locations_list

['Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru(2nd Phase JP Nagar)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru']

In [16]:
#checking length using len function
print(len(job_titles),len(company_names),len(experience_list),len(locations_list))

10 10 10 10

In [17]:
#creating a dataframe by importing pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['experience_required']=experience_list
jobs['location']=locations_list

In [18]:
jobs

,title,company,experience_required,location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben..."
1,Senior Data Analyst,"Liventus, Inc.",5-8 Yrs,Bangalore/Bengaluru(2nd Phase JP Nagar)
2,Consultant-Data Analyst -Bangalore,Innovsource Services Private Limited,2-3 Yrs,Bangalore/Bengaluru
3,Senior Security Specialist - CS Awareness & Da...,Cognizant Technology Solutions India Pvt Ltd,4-7 Yrs,Bangalore/Bengaluru
4,Data Analyst (Ops portal),Luxoft,3-6 Yrs,Bangalore/Bengaluru
5,Advanced Services Engineer - Data Analyst,Juniper Networks India Pvt Ltd,4-8 Yrs,Bangalore/Bengaluru
6,Senior Data Analyst,Flipkart Internet Private Limited,4-5 Yrs,Bangalore/Bengaluru
7,Data analysts,IBM India Pvt. Limited,3-5 Yrs,Bangalore/Bengaluru
8,Data analysts,IBM India Pvt. Limited,5-6 Yrs,Bengaluru/Bangalore
9,Data Analyst,Zilingo.com,0-4 Yrs,Bangalore/Bengaluru

### Q2: To scrape data for “Data Scientist” Job position in “Bangalore” location.

In [19]:
#we need to connect to the web driver
driver = webdriver.Chrome("Chromedriver.exe")

In [20]:
#getting the url 
link = 'https://www.naukri.com/'
driver.get(link)

In [21]:
srh_job = driver.find_element_by_class_name('sugInp')
srh_job

In [22]:
#writing Data scientist in Job Title,Keyword,Company field
srh_job.send_keys("Data Scientist")

In [23]:
#writing bangalore in job location field
srh_loc = driver.find_element_by_id("qsb-location-sugg")
srh_loc.send_keys("Bangalore")

In [24]:
#entering the search button
srh_btn=driver.find_element_by_xpath("//button[@class='btn']")
srh_btn.click()

In [25]:
#scrape data for job openings
job_opening_urls=[]
url = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')[:11]
for i in url:
    job_opening_urls.append(i.get_attribute('href'))
job_opening_urls

['https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-hyderabad-secunderabad-chennai-bangalore-bengaluru-0-to-3-years-020721003625?src=jobsearchDesk&sid=16253276291801033&xp=1&px=1',
 'https://www.naukri.com/job-listings-data-scientist-oracle-india-pvt-ltd-noida-bangalore-bengaluru-5-to-9-years-010621004567?src=jobsearchDesk&sid=16253276291801033&xp=2&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-roppen-transportation-services-private-limited-bangalore-bengaluru-5-to-8-years-010721000825?src=jobsearchDesk&sid=16253276291801033&xp=3&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-baker-hughes-the-network-bangalore-bengaluru-4-to-8-years-020721501523?src=jobsearchDesk&sid=16253276291801033&xp=4&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-fabhotel-aay-kay-model-town-bangalore-bengaluru-6-to-7-years-020721501495?src=jobsearchDesk&sid=16253276291801033&xp=5&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-baker-hughes-incorporated-bangalore-bengaluru-3-to-7-years-010721501049?src=jobsearchDesk&sid=16253276291801033&xp=6&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-becton-dickinson-india-pvt-ltd-bangalore-bengaluru-8-to-13-years-020721500242?src=jobsearchDesk&sid=16253276291801033&xp=7&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-24-7-customer-private-ltd-bangalore-bengaluru-5-to-10-years-280621501037?src=jobsearchDesk&sid=16253276291801033&xp=8&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-fractal-analytics-ltd-mumbai-gurgaon-gurugram-bangalore-bengaluru-4-to-8-years-290621500776?src=jobsearchDesk&sid=16253276291801033&xp=9&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-nielsen-india-private-limited-chennai-bangalore-bengaluru-vadodara-baroda-3-to-5-years-290621001647?src=jobsearchDesk&sid=16253276291801033&xp=10&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-machine-learning-data-mining-wrackle-technologies-pvt-ltd-bangalore-bengaluru-6-to-11-years-080221900886?src=jobsearchDesk&sid=16253276291801033&xp=11&px=1']

In [26]:
#scrape data for top 10 job_titles
job_titles=[]
for i in job_opening_urls:
    driver.get(i)
    try:
        job_title= driver.find_element_by_xpath("//h1[@class='jd-header-title']")
        job_titles.append(job_title.text)
    except:
        pass
job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Lead Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Lead Data Scientist - Machine Learning/ Data Mining']

In [27]:
#scrape data for top 10 company_names
company_names=[]
for i in job_opening_urls:
    driver.get(i)
    try:
        company_name= driver.find_element_by_xpath("//a[@class='pad-rt-8']")
        company_names.append(company_name.text)
    except:
        pass
company_names

['Inflexion Analytix Private Limited',
 'Roppen Transportation Services Private Limited',
 'Baker Hughes - The Network',
 'FabHotel Aay Kay Model Town',
 'Baker Hughes Incorporated',
 'Becton Dickinson India Pvt Ltd',
 '24/7 Customer',
 'Fractal Analytics',
 'Nielsen',
 'Wrackle Technologies Pvt Ltd']

In [28]:
#scrape data for top 10 company locations
locations=[]
for i in job_opening_urls:
    driver.get(i)
    try:
        location= driver.find_element_by_xpath("//div[@class='loc']//a")
        locations.append(location.text)
    except:
        pass
locations

['Hyderabad/Secunderabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai',
 'Chennai',
 'Bangalore/Bengaluru']

In [29]:
#scrape data for top 10 company descriptions
job_descriptions=[]
for i in job_opening_urls:
    driver.get(i)
    try:
        job_description= driver.find_element_by_xpath("//div[@class='dang-inner-html']")
        job_descriptions.append(job_description.text)
    except:
        pass
job_descriptions

["Job description\n\nJob Role: Data Scientist/Data Analyst /Business Analyst\n\nLocation: Chennai/Bangalore/Hyderabad\n\nGreetings from CAIA - Center for Artificial Intelligence & Advanced Analytics\n43% of companies experienced a high deficit of skilled resources with Advanced Analytical skills and AI implementing capabilities in the year 2020. CAIA gives you a great opportunity to enter the world of future technologies and Innovations- Data Science, Analytics, AI, Data Visualization, and Cloud Computing.\n\nWhile 2020 was a year like no other, we are living in an interesting times where data is reshaping the world, and businesses are rapidly adopting technology to gain an edge over others. Hence, there's a substantial increase in demand for technology professionals who can implement systems in data science, machine learning, and AI in Tier 1 and Tier 2 organizations working closely with us.\n\nTo help you build a sustainable career we would like you to utilize data, software and Analytical approaches in Data Science and AI to upskill and get recruited into an organization appreciating your skilling journey.\nApplications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.\nIf you wish to make a shift in your career or undergo a career transition, upskilling is essential since it allows you to learn more about the domain and acquire the required skills.\n\nCall to schedule interview Monday -Saturday from 10:00 am to 7 Pm\n\nKoodesh B- +91 73395 11107\nManigandan B - +91 93444 57360\n\nEmail :\n\ncareerguidance.koodes@centerforaia.com\nmanigandan@centerforaia.com\n\nWhat is needed from you?\nFreshers who wish to start their career in Analytics and AI and professionals who wish to\nupskill or change their domain to analytics and emerging technologies are free to apply.\nEducational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Math's and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA\nSkills relating to Mathematics/Statistics.\nNatural passion towards numbers, business, coding, Analytics, and Artificial Intelligence, Machine Learning, visualization\nGood verbal and written communication skills\nAbility to understand domains in businesses across various sectors\n\nSelection procedure includes\nAptitude Test & Communication Exam - Online / Offline\nSQL/Python test - Online / Offline\nCandidates who clear the above will have one-one discussions with our Career Guidance Manager for further evaluation and processing of your Resume.\n\nAll the Shortlisted candidates will be eligible to continue the corporate training with CAIA\nWhat you can expect from us?\n\nYou will get trained on the following modules for a period of 12-14 weeks:\nSQL & PLSQL\nData Wrangling using Python\nData Visualization Using Power-BI\nStatistics for Machine Learning\nArtificial Intelligence, Data Interpretation\nSupervised & Unsupervised Learning,\nNLP & Deep Learning\nCloud Data Lake\nBusiness intelligence & Data Visualization\nSimulation Projects\nExpected Outcome?\n\nAt the end of the Training you are expected to be well versed with the following:\nAnalysis of large and complex data sets from multiple sources\nDevelopment and evaluation of data analytics models, algorithms, and solutions\nUnderstanding/implementation of ML algorithms, performance tuning, and reporting\nImplementation of algorithms to mine targeted data and the ability to convert data into a business story\nTranslation of business requirements into technical requirements; Data extraction, preparation, and transformation\nIdentification, development, and implementation of statistical techniques and algorithms that address business challenges and adds value to the organization\nRequirement Analysis and communication of findings in the form of a meaningful story with the stakeholders\nFinding analytical solutions to abstract business issues.\nApply objective analysis of facts before coming to a conclusion",
 'Our Cause:\nRapido is Indias largest bike taxi player focused on solving the first and last mile connectivity problem for India. The primary focus is mobility and changing all facets of mobility across India.We believe that 2 Wheeler are the right mode of transport for developing countries like India and have much more scope than 4 wheelers, which is also reflected in the fact that the number of 2 wheelers is significantly more than the number of 4-wheelers.We have operations in close to 100 cities and are the undisputed market leader in this space. Growing close to 500% year-on-year, we have ambitious targets set for ourselves in the future as well.\n\nRole and Responsibilities:\n\nTranslating business requirements into analytical solutions\nPerform data analysis (with a representative sample data slice) and build/prototype the model(s)\nWork with business users and/or other data scientists to define and close on the model design\nProvide inputs to the data ingestion/engineering team on input data required by the model, size, format, associations, cleansing required\nIdentify/Provide approach and data to validate the model(s)\nCollaborate with a technology/data engineering team to transfer the business understanding, get the model productionized and validate the output along with business users\nTune the model(s) to improve results provided over time\nUnderstand business challenges and goals to formulate the approach for data analysis and model creation that will support business decision making\nDo hands-on data analysis and model creation\nWork closely with data analysts in the team to define and execute on EDA and experiment roadmap\nWork in highly collaborative teams that strive to build quality systems and provide business value\nContinually learn and develop your career\nMust have:\n\nPassion for understanding business problems and trying to address them by leveraging data - characterized by high-volume, high dimensionality from multiple sources\nAbility to communicate complex models and analysis in a clear and precise manner\nExperience with building predictive statistical, behavioral or other models via supervised and unsupervised machine learning, statistical analysis, and other predictive modeling techniques.\nExperience using R, Python or equivalent statistical/data analysis tools. Ability to transfer that knowledge to different tools\nExperience with matrices, distributions and probability\nProficiency with relational databases and NoSQL\nExperience in Machine Learning, Deep Learning solution, Neural Networks is preferred.\nWorked in a big data environment before alongside a data engineering team (and data visualization team, data and business analysts)\nEducation and Experience:\nBE/BS/MS or equivalent in Applied mathematics, statistics, physics, computer science or operations research background is a MUST. Minimum 5-8 years as Data Scientist in real business impact projects',
 'As a Sr Data Scientist, you will be responsible for:\nWorking with business stakeholders to understand the business problem/requirements and helping define analytic objectives\nBuilding the state of art machine learning or computer vision models according to the industry use case. Develop re-usable components that can be applied to similar problem across industry\nBeing responsible for development of advanced computer vision solutions for detection of defects in the industrial inspection images (Visual or CT/Xray images).\nImplementing computer vision technique in image classification, object detection, segmentation, etc. using frameworks like TensorFlow PyTorch\nIterating and improve the model performances using appropriate transfer learning techniques\nBuilding end to end Machine learning or Deep learning pipelines and follow the deployment best practices (Flask, FastAPI, Streamlit, Docker ,etc.)\nHaving Ability to deploy machine or deep learning solutions in to production (Edge or cloud environment)\nFuel your passion\nTo be successful in this role you will:\nHave a Bachelors / Phd in Computer Science or STEM Majors (Science, Technology, Engineering and Math) with 2+ yrs experience in building computer vision solutions for the industrial use case.\nHave Minimum 6 yrs of experience with machine learning, computer vision algorithms, and framework to solve object detection, recognition, tracking, segmentation, etc.\nHave experience on deep learning machine learning libraries Tensorflow, Pytorch, Keras, sklearn, OpenCV, etc.\nHave Knowledge of Convolutional Networks and Deep Learning algorithms\nHave Solid programming skills with Python and/or non-scripting languages\nExperience working with NDT inspection (CT/Xray image) data is a plus\nExperience with Docker containers cloud deployment is plus\nWork in a way that works for you\nWe recognize that everyone is different and that the way in which people want to work and deliver at their best is different for everyone too. In this role, we can offer the following flexible working patterns:\nWorking flexible hours - flexing the times when you work in the day to help you fit everything in and work when you are the most productive',
 'As as Senior Data Scientist, you will be part of cross-disciplinary team, working in concert with partners in Baker Hughes. Potential application areas include Automatic Defect Recognition (ADR) and Remote Monitoring and Diagnostics (RMnD) across NDT (Non Destructive Testing) industrial sectors. The data scientist will lead engagements and develop analytics within defined business objectives to address customer needs and opportunities.\nAs a Sr Data Scientist, you will be responsible for:\nWorking with business stakeholders to understand the business problem/requirements and helping define analytic objectives\nBuilding the state of art machine learning or computer vision models according to the industry use case. Develop re-usable components that can be applied to similar problem across industry\nBeing responsible for development of advanced computer vision solutions for detection of defects in the industrial inspection images (Visual or CT/Xray images).\nImplementing computer vision technique in image classification, object detection, segmentation, etc. using frameworks like TensorFlow PyTorch\nIterating and improve the model performances using appropriate transfer learning techniques\nBuilding end to end Machine learning or Deep learning pipelines and follow the deployment best practices (Flask, FastAPI, Streamlit, Docker ,etc.)\nHaving Ability to deploy machine or deep learning solutions in to production (Edge or cloud environment)\nFuel your passion\nTo be successful in this role you will:\nHave a Bachelors / Phd in Computer Science or STEM Majors (Science, Technology, Engineering and Math) with 2+ yrs experience in building computer vision solutions for the industrial use case.\nHave Minimum 6 yrs of experience with machine learning, computer vision algorithms, and framework to solve object detection, recognition, tracking, segmentation, etc.\nHave experience on deep learning machine learning libraries Tensorflow, Pytorch, Keras, sklearn, OpenCV, etc.\nHave Knowledge of Convolutional Networks and Deep Learning algorithms\nHave Solid programming skills with Python and/or non-scripting languages\nExperience working with NDT inspection (CT/Xray image) data is a plus\nExperience with Docker containers cloud deployment is plus\nWork in a way that works for you\nWe recognize that everyone is different and that the way in which people want to work and deliver at their best is different for everyone too. In this role, we can offer the following flexible working patterns:\nWorking flexible hours - flexing the times when you work in the day to help you fit everything in and work when you are the most productive\nWorking with us\nOur people are at the heart of what we do at Baker Hughes. We know we are better when all of our people are developed, engaged and able to bring their whole authentic selves to work. We invest in the health and well-being of our workforce, train and reward talent and develop leaders at all levels to bring out the best in each other.\nWorking for you\nOur inventions have revolutionized energy for over a century. But to keep going forward tomorrow, we know we have to push the boundaries today. We prioritize rewarding those who embrace change with a package that reflects how much we value their input. Join us, and you can expect:\nContemporary work-life balance policies and wellbeing activities\nComprehensive private medical care options\nSafety net of life insurance and disability programs\nTailored financial programs\nAdditional elected or voluntary benefits',
 'As a Sr Data Scientist, you will be responsible for:\nWorking with business stakeholders to understand the business problem/requirements and helping define analytic objectives\nBuilding the state of art machine learning or computer vision models according to the industry use case. Develop re-usable components that can be applied to similar problem across industry\nBeing responsible for development of advanced computer vision solutions for detection of defects in the industrial inspection images (Visual or CT/Xray images).\nImplementing computer vision technique in image classification, object detection, segmentation, etc. using frameworks like TensorFlow & PyTorch\nIterating and improve the model performances using appropriate transfer learning techniques\nBuilding end to end Machine learning or Deep learning pipelines and follow the deployment best practices (Flask, FastAPI, Streamlit, Docker ,etc.)\nHaving Ability to deploy machine or deep learning solutions in to production (Edge or cloud environment)\nFuel your passion\nTo be successful in this role you will:\nHave a Bachelors / Phd in Computer Science or STEM Majors (Science, Technology, Engineering and Math) with 2+ yrs experience in building computer vision solutions for the industrial use case.\nHave Minimum 6 yrs of experience with machine learning, computer vision algorithms, and framework to solve object detection, recognition, tracking, segmentation, etc.\nHave experience on deep learning & machine learning libraries Tensorflow, Pytorch, Keras, sklearn, OpenCV, etc.\nHave Knowledge of Convolutional Networks and Deep Learning algorithms\nHave Solid programming skills with Python and/or non-scripting languages\nExperience working with NDT inspection (CT/Xray image) data is a plus\nExperience with Docker containers & cloud deployment is plus',
 'Job Summary\nAs a member of the BD Advanced Analytics team, the Data Scientist role will collect, interpret, and deploy predictive analytics and machine learning models to assist our business partners in delivering advanced data analytics solutions to address key strategic business initiatives.\nThe primary focus being the development and deployment of actionable insights that have a positive impact on BD s business operations.\nDescription\nEvaluating business requirements and developing compelling user stories in collaboration with business stakeholders across various functions and regions\nCollecting, interpreting, preparing and modelling data to provide actionable insights\nPrototyping advanced data analytics solutions for presentation to business partners and stakeholders\nApplying predictive analytics and machine learning methods and techniques appropriately to address business requirements\nProvide expertise to guide business stakeholders in identifying opportunities for the use of BD s data assets for the purpose of advanced data analytics\nWork closely with data engineering and DataOps peers to productionalize advanced data analytics use cases\nQualifications\nMaster s degree in STEM field or equivalent demonstrated work experience\nExperience with Python, R, Hadoop, HIVE, SPARK, Jupyter and related advanced analytics / machine learning libraries (Scikitlearn, Tensorflow, Keras, )\nMinimum 2 years of relevant work experience\nAbility to translate complex solutions to a non-technical audience (storytelling visualization)\nExpertise in machine learning, neural networks, clustering, classification, regression and other common advanced analytics methods and techniques\nMature competency for critical thinking, problem solving, working with ambiguity, communications and collaboration\nPreferred\nExperience with technologies related to data preparation, processing optimization (e.g. Azure, HQL, SPARK SQL)\nExperience with data visualization tools (Power BI)\nFlexibility to accommodate meetings with international stakeholders in their respective time-zone.',
 'Brief about the Role\nThe Platforms team of the Data Science Group at [24]7.ai builds scalable AI to aid in conversational AI, agent assist solutions, and ad personalization for the Cloud. We are looking for a highly motivated and qualified data scientist to build some of our AI initiatives. This role is ideal for candidates with strong, hands-on skills in machine learning and natural language processing.\nEducational Qualifications:\nBachelors, Master’s or PhD degree from reputed universities or institutes in one of the following disciplines:\nArtificial Intelligence / Machine Learning\nData Science\nCognitive Computing\nComputational Linguistics\nComputer Science\nRequirements\n4+ years of experience with general purpose programming languages e.g., Python, C/C++, Java\n4+ years of hands-on experience in machine learning\nExperience in various deep learning models, e.g., transformers, LSTMs, RNNs\nExperience in solving problems related to Natural Language Processing (NLP), Natural Language Understanding (NLU), and Natural Language Generation (NLG)\nExperience with machine learning platforms such as TensorFlow, TensorFlow Extended, PyTorch\nExperience building and deploying machine learning models on the Cloud (Google Cloud, Azure, AWS)\nExperience with production architecture of machine learning systems\nGood to have exposure to conversational AI, AI-based question-answering systems, AI-based compliance and monitoring systems, and ad personalization\nGood to have exposure to MLOps pipelines and Kubeflow\nExcellent communication skills\nAbility to collaborate cross-functionally\nGood presentation skills\nAttention to detail\nResponsibilities\nCollaborate with the Engineering and Product teams to implement machine learning models into the products and offerings of [24]7.ai\nCollaborate with your team members. Be responsible for implementing the machine learning models, testing them, refining them, and taking them to production\nCollaborate within the Data Science Group to review and refine your work to ensure the highest quality\nTake end-to-end ownership of AI initiatives\nProactively discuss ideas for feature enhancements with the data science leadership and product leadership',

In [30]:
#cheaking length by using len function
print(len(job_titles),len(locations),len(company_names),len(job_descriptions))

10 10 10 10

In [31]:
#creating a dataframe by importing pandas as pd
jobs2=pd.DataFrame({})
jobs2['title']=job_titles
jobs2['location']=locations
jobs2['company']=company_names
jobs2['Full job description']=job_descriptions

In [32]:
jobs2

,title,location,company,Full job description
0,Data Scientist / Data Analyst -Business Analyst,Hyderabad/Secunderabad,Inflexion Analytix Private Limited,Job description\n\nJob Role: Data Scientist/Da...
1,Senior Data Scientist,Bangalore/Bengaluru,Roppen Transportation Services Private Limited,Our Cause:\nRapido is Indias largest bike taxi...
2,Senior Data Scientist,Bangalore/Bengaluru,Baker Hughes - The Network,"As a Sr Data Scientist, you will be responsibl..."
3,Senior Data Scientist,Bangalore/Bengaluru,FabHotel Aay Kay Model Town,"As as Senior Data Scientist, you will be part ..."
4,Senior Data Scientist,Bangalore/Bengaluru,Baker Hughes Incorporated,"As a Sr Data Scientist, you will be responsibl..."
5,Lead Data Scientist,Bangalore/Bengaluru,Becton Dickinson India Pvt Ltd,Job Summary\nAs a member of the BD Advanced An...
6,Senior Data Scientist,Bangalore/Bengaluru,24/7 Customer,Brief about the Role\nThe Platforms team of th...
7,Senior Data Scientist,Mumbai,Fractal Analytics,The Artificial Intelligence and Machine Learni...
8,Senior Data Scientist,Chennai,Nielsen,ABOUT THIS JOB\nNielsenIQ Advanced Analytics t...
9,Lead Data Scientist - Machine Learning/ Data M...,Bangalore/Bengaluru,Wrackle Technologies Pvt Ltd,Roles and Responsibilities\nRequirements :\n\n...

### Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [33]:
#connecting to the web driver
driver = webdriver.Chrome("Chromedriver.exe")

In [34]:
#get the url
url = 'https://www.naukri.com/'
driver.get(url)

In [35]:
#writing Data Scientist in company field
company_field=driver.find_element_by_xpath("//input[@class='sugInp']")
company_field.send_keys('Data Scientist')

In [36]:
#clicking the search button
search=driver.find_element_by_xpath("//button[@class='btn']")
search.click()

In [37]:
#to extract data of location filter by coping full xpath
location_filter = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[2]/label/p/span[1]')
location_filter.click()

In [38]:
#to extract data of salary filter by coping full xpath
salary_filter = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/p/span[1]')
salary_filter.click()

In [39]:
#scraping top 10 job titles
job_title= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[:10]
job_title

[<selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="3b77017f-3353-4ae7-a3b7-25b90c2dd93a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="b30f07ea-c45f-4a9a-a7d0-053f01bb81c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="2f6c3246-e66b-4fe6-ba90-2dc75a0ba162")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="e81a7cf1-6f66-4035-a713-674cff1e256f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="8a4d48ea-6872-4476-845d-0bccda19fb61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="ee3d3f6b-4ef8-4ab6-b62b-d56d9e19fad1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="79a7bfd7-9ee8-428c-83bd-3a89c8c4dc17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="27585d96-dc65-4b0f-a424-6d3e9b38e0a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="80a42f21-09a0-4766-a4de-4033649d91b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="bf24bade-b9f3-4044-b77e-ad10cb718f7c")>]

In [40]:
job_titles=[]
for i in job_title:
    job_titles.append(i.text)
job_titles

['Only Fresher / Data Scientist / Data Analyst / Analytics - MNC OSC',
 'Advanced Analytics -Data Scientist',
 'Data Scientist - Machine Learning/ NLP',
 'Data Scientist - Text NLP | Noida',
 'Data Scientist - Machine Learning/NLP',
 'Data Scientist - Machine Learning/NLP',
 'Data analytics / Data scientist intern (work from Home)',
 'Chaayos is Looking For Data Scientist',
 'Data Scientist -Delhi',
 'Data Scientist']

In [41]:
#scraping top 10 job company location
job_location= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")[:10]
job_location

[<selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="a8d1eb70-ade2-4a47-a78e-8f9df6c0ade3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="b6f8dd08-faff-4b16-bf88-d8e2a65812e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="9060d166-e6af-4dd9-9e1e-5111c4e946f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="8ef4e2cd-2e3d-47d8-9932-f0701a753a80")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="bef2a11b-7c8b-4424-a1c7-801cc5b5e0bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="8ae1eb88-7555-4904-bcc8-e2726ebe30ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="3adcf1fa-d603-4415-9ab8-6624e1a9725d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="28ad9e33-f3fd-4742-bd42-92d9c7bedd2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="a3652a77-94bb-407c-809b-fda1be32b306")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="96f42a42-0dc5-4987-a50a-1a142cd3ba3a")>]

In [42]:
job_locations=[]
for i in job_location:
    job_locations.append(i.text)
job_locations

['Noida, Gurgaon/Gurugram, Delhi / NCR',
 'New Delhi, Hyderabad/Secunderabad',
 'Gurgaon/Gurugram',
 'Noida',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 'New Delhi',
 'New Delhi',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru']

In [43]:
#scraping top 10 company names
company_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[:10]
company_name

[<selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="ac5a65b8-0ef0-453a-9061-6500a57e45dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="ddce8e39-d112-403f-8836-4f26935b5d8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="dc3617a7-2fb4-4756-90b4-f5665ff3ae87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="e62fdb18-f8b7-48e7-8a73-7a76dfc0b226")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="ca00f2b8-0a4f-4e67-92c9-d808b9e6404d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="037da009-e0f3-44e9-8bab-8a4827065216")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="f9542e19-9d2a-4280-bea3-96e85db99f1f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="2de51dc1-9819-4b31-9d0d-625cbec731a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="b21927fb-d94d-4ca1-8140-c0d8a95512f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="92add464-9b60-4135-a522-ae7914531c88")>]

In [44]:
company_names=[]
for i in company_name:
    company_names.append(i.text)
company_names

['GABA Consultancy services',
 'ERM Placement Services (P) Ltd.',
 'TalPro',
 'Acidaes Solutions Pvt. Ltd.',
 'TalPro',
 'TalPro',
 'TalkValley LLC',
 'Chaayos (Sunshine Teahouse Pvt. Ltd.)',
 'CHANGE LEADERS CONSULTING',
 'Fractal Analytics']

In [45]:
#scraping top 10 experience requirement in the companies
experience_req=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")[:10]
experience_req

[<selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="17a775ff-104d-4094-8c63-c51de328d514")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="8f834106-d5e6-4f67-9ba1-0448c7ba9b23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="8eb71999-d82e-46fe-b280-d4c16d8e8dc3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="cc28bbe3-6a5f-4075-8acb-f49623e3ac93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="ad028b74-bad0-441e-9f1a-493835858b0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="9691592e-2ff1-478c-8ca2-fb6f57e78e38")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="7eb5ad23-591c-4954-8ef7-501e880abf0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="0fcb1519-aae9-440a-8a5f-70846abb3bf6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="044cdc69-b34d-4144-9f6a-01310203fd04")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ae2e9d2106ffc6a6f0c0e12ba44046c", element="2b7df18e-22a4-4090-a3ee-f88de4ca5016")>]

In [46]:
experience_required=[]
for i in experience_req:
    experience_required.append(i.text)
experience_required

['0-0 Yrs',
 '3-7 Yrs',
 '2-6 Yrs',
 '3-5 Yrs',
 '2-6 Yrs',
 '2-4 Yrs',
 '0-5 Yrs',
 '0-5 Yrs',
 '5-8 Yrs',
 '3-7 Yrs']

In [47]:
#cheaking length by using len function
print(len(job_titles),len(job_locations),len(company_names),len(experience_required))

10 10 10 10

In [48]:
#creating a dataframe by importing pandas as pd
jobs3=pd.DataFrame({})
jobs3['title']=job_titles
jobs3['location']=job_locations
jobs3['company']=company_names
jobs3['Full job description']=experience_required

In [49]:
jobs3

,title,location,company,Full job description
0,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Gurgaon/Gurugram, Delhi / NCR",GABA Consultancy services,0-0 Yrs
1,Advanced Analytics -Data Scientist,"New Delhi, Hyderabad/Secunderabad",ERM Placement Services (P) Ltd.,3-7 Yrs
2,Data Scientist - Machine Learning/ NLP,Gurgaon/Gurugram,TalPro,2-6 Yrs
3,Data Scientist - Text NLP | Noida,Noida,Acidaes Solutions Pvt. Ltd.,3-5 Yrs
4,Data Scientist - Machine Learning/NLP,Gurgaon/Gurugram,TalPro,2-6 Yrs
5,Data Scientist - Machine Learning/NLP,Gurgaon/Gurugram,TalPro,2-4 Yrs
6,Data analytics / Data scientist intern (work f...,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",TalkValley LLC,0-5 Yrs
7,Chaayos is Looking For Data Scientist,New Delhi,Chaayos (Sunshine Teahouse Pvt. Ltd.),0-5 Yrs
8,Data Scientist -Delhi,New Delhi,CHANGE LEADERS CONSULTING,5-8 Yrs
9,Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics,3-7 Yrs

### Q4: To scrape data for first 10 job results for Data scientist Designation in Noida location.

In [50]:
#connecting to the web driver
driver = webdriver.Chrome("Chromedriver.exe")

In [51]:
#get the url
webpage = 'https://www.glassdoor.co.in/index.htm'
driver.get(webpage)

In [52]:
search_job = driver.find_element_by_class_name('css-1etjok6')
search_job

In [53]:
#writing Data Scientist in Job Title,Keyword,Company field
search_job.send_keys("Data Scientist")

In [54]:
#writing Noida in the location field
search_loc=driver.find_element_by_xpath("//input[@id='sc.location']")
search_loc.send_keys("Noida")

In [55]:
#clicking search button using Xpath function 
search_btn=driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']//span")
search_btn.click()

In [56]:
# to scrape top 10 company names
company_name=driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']//span")[:10]
company_name

[<selenium.webdriver.remote.webelement.WebElement (session="87068ec9df2a0bd1d185e517b6ad0410", element="86c58a45-b567-4471-9481-14c0b02629ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87068ec9df2a0bd1d185e517b6ad0410", element="23c8c9ce-25b2-4e14-9bfb-21f43cc074b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87068ec9df2a0bd1d185e517b6ad0410", element="871df786-023e-422e-b1fa-caa4cef85016")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87068ec9df2a0bd1d185e517b6ad0410", element="f38e34fd-8a8c-4322-9460-d24a20b8c722")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87068ec9df2a0bd1d185e517b6ad0410", element="e179a1bb-cbb2-4fba-8c59-9c04ec3fcff7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87068ec9df2a0bd1d185e517b6ad0410", element="619671ce-0966-4dea-8b51-89ca8a100bcb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87068ec9df2a0bd1d185e517b6ad0410", element="f73b1933-55a2-4b0a-bd40-54670ec0d781")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87068ec9df2a0bd1d185e517b6ad0410", element="12b82469-0ec6-41b2-aa81-7eca022a5fcc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87068ec9df2a0bd1d185e517b6ad0410", element="d808a154-b5db-4c9e-b8da-3553b467f9dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87068ec9df2a0bd1d185e517b6ad0410", element="a92137e1-c6dd-4694-b38f-b0375143e2b2")>]

In [57]:
company_names=[]
for i in company_name:
    company_names.append(i.text)
company_names

['Ericsson',
 'Ginger Webs Pvt. Ltd.',
 'Crowe',
 'Data Patterns',
 'Algo8 AI Pvt. Ltd.',
 'Biz2Credit Inc',
 'Innovacer',
 'Salasar New Age Technologies',
 'UnitedHealth Group',
 'Techlive']

In [58]:
#to scrape top 10 no of days of jobs posted ago
days_posted_ago=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")[:10]
days_posted_ago

[<selenium.webdriver.remote.webelement.WebElement (session="87068ec9df2a0bd1d185e517b6ad0410", element="1dfb6471-fb41-4a47-8570-ba5d7920f663")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87068ec9df2a0bd1d185e517b6ad0410", element="aa0e4029-4439-4e94-bc49-53f77f6dfa9c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87068ec9df2a0bd1d185e517b6ad0410", element="2d648473-63d6-4a65-8f2b-a74a2c97a3ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87068ec9df2a0bd1d185e517b6ad0410", element="a591de48-7cf3-439e-87b6-24d2ee10ed1e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87068ec9df2a0bd1d185e517b6ad0410", element="1f87655c-b180-48f9-b96a-fbd8923a5a79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87068ec9df2a0bd1d185e517b6ad0410", element="ed15f5e7-e5d7-4afc-956c-c94a38ed1495")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87068ec9df2a0bd1d185e517b6ad0410", element="d8277a26-d726-4764-98c4-ea8b676c9c8e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87068ec9df2a0bd1d185e517b6ad0410", element="fc82b484-eec5-4cf4-88bd-a0ae30f53d46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87068ec9df2a0bd1d185e517b6ad0410", element="66920da5-069c-45ae-9293-b26ca82ccd07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87068ec9df2a0bd1d185e517b6ad0410", element="4cd08aba-6c05-4100-a1c7-f02cab641f51")>]

In [59]:
days_ago=[]
for i in days_posted_ago:
    days_ago.append(i.text)
days_ago

['2d', '22d', '30d+', '18d', '15d', '30d+', '4d', '30d+', '4d', '30d+']

In [60]:
#to scrape top 10 ratings of the company
company_rating=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")[:10]
company_rating

[<selenium.webdriver.remote.webelement.WebElement (session="87068ec9df2a0bd1d185e517b6ad0410", element="d9029caf-6280-44b7-af88-b635dee09049")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87068ec9df2a0bd1d185e517b6ad0410", element="473206c3-c034-43f1-b828-3574c3ad88d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87068ec9df2a0bd1d185e517b6ad0410", element="b9b39890-5e4c-4f87-9465-996310a9e40b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87068ec9df2a0bd1d185e517b6ad0410", element="2f555b31-063a-41e0-bf80-63c2725e7d38")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87068ec9df2a0bd1d185e517b6ad0410", element="36b7558b-3b35-4887-8bc6-113ba4567de4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87068ec9df2a0bd1d185e517b6ad0410", element="520e4826-77a0-425b-a013-70f7ccf4cbdd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87068ec9df2a0bd1d185e517b6ad0410", element="ad60078e-e4c8-4d53-97e8-9caf4b84b182")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87068ec9df2a0bd1d185e517b6ad0410", element="c8ed7802-8e32-4f4d-a6e5-d90d0c011622")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87068ec9df2a0bd1d185e517b6ad0410", element="296dd29d-1926-41e6-9c6a-9423a79e913b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87068ec9df2a0bd1d185e517b6ad0410", element="f464f4e6-94ff-4f43-af74-c6795460afeb")>]

In [61]:
company_ratings=[]
for i in company_rating:
    company_ratings.append(i.text)
company_ratings

['4.1', '3.8', '3.0', '3.9', '3.8', '3.7', '5.0', '3.8', '3.8', '3.8']

In [62]:
#cheaking length by using len function
print(len(company_names),len(days_ago),len(company_ratings))

10 10 10

In [63]:
#creating a dataframe by importing pandas as pd
jobs4=pd.DataFrame({})
jobs4['Company']=company_names
jobs4['No. of days posted ago']=days_ago
jobs4['Ratings']=company_ratings

In [64]:
jobs4

                        Company No. of days posted ago Ratings
0                      Ericsson                     2d     4.1
1         Ginger Webs Pvt. Ltd.                    22d     3.8
2                         Crowe                   30d+     3.0
3                 Data Patterns                    18d     3.9
4            Algo8 AI Pvt. Ltd.                    15d     3.8
5                Biz2Credit Inc                   30d+     3.7
6                     Innovacer                     4d     5.0
7  Salasar New Age Technologies                   30d+     3.8
8            UnitedHealth Group                     4d     3.8
9                      Techlive                   30d+     3.8

### Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.

In [65]:
#connecting to the web driver
driver = webdriver.Chrome("Chromedriver.exe")

In [66]:
#get the url
url = 'https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

In [67]:
#writing Data Scientist in Job Title or Company field
job_title_field = driver.find_element_by_xpath("//input[@class='keyword']")
job_title_field.send_keys("Data Scientist")

In [68]:
#writing Noida in the location_field
location_field = driver.find_element_by_xpath("//input[@id='LocationSearch']")
location_field.send_keys("Noida")

In [69]:
#clicking the search button by using xpath function
search = driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search.click()

In [70]:
#extract top 10 tags having job_titles
title_tags= driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")[:10]
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="89af4338-ea1e-45ef-91df-750bda795c2b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="bb316f71-e406-43b1-9413-bcc165e0111b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="e9f28cdc-bc80-4fe3-b4dc-84834124e9e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="6e881326-713c-4a2e-9b4d-477195f2b437")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="e69f4b4a-e3b9-4da3-9d75-bf017226c0f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="cb586c22-6582-4767-b8d7-0893536f7288")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="e594f6f2-b82a-49d5-8e46-291f76eabcdb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="0dc62776-e026-4f65-90e1-2296f1f725c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="8bdc8e2e-31bf-46ef-9667-069a70fbd2e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="9a382176-a1ec-40cc-9cae-782578fc7ad6")>]

In [71]:
company_name=[]
for i in title_tags:
    company_name.append(i.text)
company_name

['IBM',
 'Tata Consultancy Services',
 'Accenture',
 'Delhivery',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Valiance Solutions',
 'Optum Global Solutions',
 'ZS Associates',
 'EXL Service']

In [72]:
# to extract top 10 no of salary of the company
No_of_Salary= driver.find_elements_by_xpath("//div[@class='col-12 col-lg-auto']//span")[:10]
No_of_Salary

[<selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="45c4a932-4f04-4088-a7a7-bf1854cf7958")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="2c7443d6-7f46-4c1f-a9b7-73e01f01c74c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="666fc29f-4044-4e48-9b9d-f4c2066b2fbd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="56afad04-b664-4241-bb5d-628f514560aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="93aaeecf-00af-4033-95e6-eeb4e37cbde3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="96dde64e-34b1-40b0-bc9e-bc7c04135e3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="a3c241fd-9547-465d-acca-1a9d279107e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="32f7af0e-9aa2-4578-b426-98fbefe24baf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="294a936a-ae68-4ee4-afcd-3207785a4a85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="081acb83-50f9-43e0-ad08-ff46d2d73d25")>]

In [73]:
no_of_salaries=[]
for i in No_of_Salary:
    no_of_salaries.append(i.text)
no_of_salaries

['18 salaries',
 '17 salaries',
 '15 salaries',
 '15 salaries',
 '14 salaries',
 '12 salaries',
 '10 salaries',
 '9 salaries',
 '8 salaries',
 '8 salaries']

In [74]:
# to extract top 10 average salary
average_salary= driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']//h3")[:10]
average_salary

[<selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="47e8f5e1-407d-454b-9f5d-cea27e90679b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="74e3f105-91e8-4299-bdae-1cea4e667915")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="4e768c90-4316-4e7d-a47f-2920e2a340e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="ea24fa25-70bf-46bd-8da6-7cab0d9c6170")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="6174b072-1c79-4f00-b90a-65e259473230")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="93d26f1c-3155-4ef3-8db5-855190763529")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="c4276ab1-fa8d-4699-932c-02e6e24dc537")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="53b14b04-c02c-4b5a-b2d1-08789863cfbf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="5f8568d1-60bf-4e6d-aa7d-f37cc560b4ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="0f45eb20-dcdd-4684-8ba0-add04559f10b")>]

In [75]:
average_salaries=[]
for i in average_salary:
    average_salaries.append(i.text)
average_salaries

['₹9,00,000',
 '₹6,15,289',
 '₹11,63,336',
 '₹12,18,244',
 '₹7,39,238',
 '₹13,19,140',
 '₹8,63,750',
 '₹13,28,697',
 '₹11,42,356',
 '₹11,46,073']

In [76]:
# to extract min and max salary by using xpath function
full_salary=driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']//p")[:20]
full_salary

[<selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="1089d963-b4b4-4e6a-a71d-79cb7f092327")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="ca6203a8-1ad3-47a2-93ad-e217441f78c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="977787bc-c62a-4d53-b902-dc9779477676")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="00d3c698-ced4-4329-a1ec-1aa072daefff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="ce80a9d2-3ce7-4c52-8476-218a7c8d60b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="e75ad362-afa4-4eae-b02a-82fb0c1561f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="56c2c1e9-4c97-4a3b-91b3-8ada84850d73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="e5f23beb-e6b4-484f-a417-2a791dae4f5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="79dbc1c5-5fed-4e68-8d97-c29600c5438c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="e717c326-cb05-4b31-a1df-86db8970c12f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="309d3f4b-80e0-4c7e-b7a2-bb477c106a90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="64320730-71c5-40dc-84da-c929ab42fec3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="d7e7098f-f66e-4075-930d-71a6f3644d1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="f7e25f42-b455-4125-99d8-6c6e2839b691")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="3189f7f6-c1ca-450e-9430-0e11692e543b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="80ea2d31-8dfd-4548-97b6-c55fa542c573")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="21234aa2-9a2a-447b-8c8b-5f30023881f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="6a0962c6-b5b8-4b96-8c76-206883ba9e69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="00ba1e4b-15c8-48f5-bfeb-6067d7f00855")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5afbe08735e9e04569f8dd9b9b4a2d1", element="3a60904d-f29d-4569-9650-5ac29628b9c4")>]

In [77]:
full_salaries=[]
for i in full_salary:
    full_salaries.append(i.text.replace('\n',''))
full_salaries

['₹6L',
 '₹27L',
 '₹3L',
 '₹13L',
 '₹6L',
 '₹22L',
 '₹5L',
 '₹1Cr',
 '₹4L',
 '₹16L',
 '₹11L',
 '₹15L',
 '₹5L',
 '₹15L',
 '₹4L',
 '₹22L',
 '₹2L',
 '₹18L',
 '₹6L',
 '₹15L']

In [78]:
#to extract min salary
min_salaries=[]
for i in range(0,len(full_salaries),2):
    min_salaries.append(full_salaries[i])
min_salaries

['₹6L', '₹3L', '₹6L', '₹5L', '₹4L', '₹11L', '₹5L', '₹4L', '₹2L', '₹6L']

In [79]:
#to extract max salary 
max_salaries=[]
for i in range(1,len(full_salaries),2):
    max_salaries.append(full_salaries[i])
max_salaries

['₹27L',
 '₹13L',
 '₹22L',
 '₹1Cr',
 '₹16L',
 '₹15L',
 '₹15L',
 '₹22L',
 '₹18L',
 '₹15L']

In [80]:
#cheaking length by using len function
print(len(company_name),len(no_of_salaries),len(average_salaries),len(min_salaries),len(max_salaries))

10 10 10 10 10

In [81]:
#creating a dataframe by importing pandas as pd
jobs5=pd.DataFrame({})
jobs5['Company']=company_name
jobs5['No. of Salary']=no_of_salaries
jobs5['Average Salary']=average_salaries
jobs5['Min Salary']=min_salaries
jobs5['Max Salary']=max_salaries

In [82]:
jobs5

,Company,No. of Salary,Average Salary,Min Salary,Max Salary
0,IBM,18 salaries,"₹9,00,000",₹6L,₹27L
1,Tata Consultancy Services,17 salaries,"₹6,15,289",₹3L,₹13L
2,Accenture,15 salaries,"₹11,63,336",₹6L,₹22L
3,Delhivery,15 salaries,"₹12,18,244",₹5L,₹1Cr
4,Ericsson-Worldwide,14 salaries,"₹7,39,238",₹4L,₹16L
5,UnitedHealth Group,12 salaries,"₹13,19,140",₹11L,₹15L
6,Valiance Solutions,10 salaries,"₹8,63,750",₹5L,₹15L
7,Optum Global Solutions,9 salaries,"₹13,28,697",₹4L,₹22L
8,ZS Associates,8 salaries,"₹11,42,356",₹2L,₹18L
9,EXL Service,8 salaries,"₹11,46,073",₹6L,₹15L

### Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

In [83]:
#connecting to the web driver
driver = webdriver.Chrome("Chromedriver.exe")

In [84]:
#get the url
url = 'https://www.flipkart.com/'
driver.get(url)

In [85]:
#entering sunglasses in search field
search=driver.find_element_by_xpath("//div[@class='_3OO5Xc']//input")
search.send_keys("Sunglasses")

In [86]:
#to click search button 
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [87]:
#getting all urls of the next pages
page_url=[]
url = driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")[:3]
for i in url:
    page_url.append(i.get_attribute('href'))
page_url

['https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3']

In [88]:
#to extract top 100 brands of sunglasses by using xpath function
brands=[]
for i in page_url:
    driver.get(i)
    brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")[:100]
    for i in brand:
        brands.append(i.text)
brands

['LIZA ANGEL',
 'NuVew',
 'kingsunglasses',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'kingsunglasses',
 'ROYAL SON',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'Tag Eye',
 'PIRASO',
 'Fastrack',
 'kingsunglasses',
 'AISLIN',
 'BEQUBE',
 'Fastrack',
 'Fastrack',
 'AISLIN',
 'NuVew',
 'PHENOMENAL',
 'Fastrack',
 'povty',
 'Singco India',
 'PIRASO',
 'ROZZETTA CRAFT',
 'AISLIN',
 'Fastrack',
 'DEIXELS',
 'IRUS by IDEE',
 'ROYAL SON',
 'HIPPON',
 'Fastrack',
 'IRUS by IDEE',
 'LIZA ANGEL',
 'United Colors of Benetton',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'PIRASO',
 'PIRASO',
 'kingsunglasses',
 'LIZA ANGEL',
 'Fastrack',
 'Fastrack',
 'PHENOMENAL',
 'NuVew',
 'Fastrack',
 'elegante',
 'ROYAL SON',
 'ROYAL SON',
 'ROYAL SON',
 'kingsunglasses',
 'Fastrack',
 'Tag Eye',
 'hipe',
 'hipe',
 'Poland',
 'AISLIN',
 'Silver Kartz',
 'PIRASO',
 'PHENOMENAL',
 'AISLIN',
 'kingsunglasses',
 'Fastrack',
 'ROYAL SON',
 'povty',
 'Fastrack',
 'IDEE',
 'kingsunglasses',
 'ROYAL SON',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'Singco India',
 'LIZA ANGEL',
 'Singco',
 'GANSTA',
 'NuVew',
 'LIZA ANGEL',
 'Fastrack',
 'PHENOMENAL',
 'ROYAL SON',
 'NuVew',
 'DEIXELS',
 'GANSTA',
 'DEIXELS',
 'ROYAL SON',
 'hipe',
 'Fastrack',
 'kingsunglasses',
 'Tag Eye',
 'Fastrack',
 'Wrogn',
 'GANSTA',
 'AISLIN',
 'PHENOMENAL',
 'Fastrack',
 'GANSTA',
 'AISLIN',
 'elegante',
 'Singco India',
 'Singco India',
 'povty',
 'AISLIN',
 'GANSTA',
 'Fastrack',
 'ROYAL SON',
 'Fravy',
 'kingsunglasses',
 'Badfella',
 'ROZZETTA CRAFT',
 'AISLIN',
 'Fastrack',
 'GANSTA',
 'LIZA ANGEL']

In [90]:
#to extract top 100 product description of sunglasses by using xpath function
product_description=[]
for i in page_url:
    driver.get(i)
    product_discrip=driver.find_elements_by_xpath("//a[@class='IRpwTa']")[:100]
    for i in product_discrip:
        product_description.append(i.text)
product_description

['Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (49)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (60)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Polarized, UV Protection Rectangular Sunglasses (59)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'Gradient Rectangular Sunglasses (56)',
 'Gradient, UV Protection, Night Vision Retro Square, Spe...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Polarized Wayfarer Sunglasses (56)',
 'Others Rectangular Sunglasses (56)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored, UV Protection Rectangular Sunglasses (56)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored, UV Protection Wayfarer, Wayfarer, Wayfarer, W...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Round Sunglasses (53)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Polarized, UV Protection Round Sunglasses (49)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Round Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (60)',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection, Gradient, Mirrored, Riding Glasses Recta...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (57)',
 'Polarized Rectangular Sunglasses (65)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized Rectangular Sunglasses (55)',
 'UV Protection, Mirrored Round Sunglasses (54)',
 'UV Protection, Gradient Wayfarer Sunglasses (57)',
 'UV Protection Rectangular Sunglasses (59)',
 'UV Protection Aviator Sunglasses (61)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'Polarized, UV Protection Rectangular Sunglasses (59)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Others Aviator Sunglasses (32)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Gradient, Night Vision, Mirrored Aviator...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (58)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (49)',
 'UV Protection, Night Vision, Gradient, Mirrored Round, ...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (60)',
 'UV Protection Round Sunglasses (52)',
 'Mirrored Wayfarer Sunglasses (56)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection, Mirrored Retro Square Sunglasses (Free S...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (58)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'Mirrored, UV Protection, Riding Glasses, Others Wrap-ar...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Rectangular Sunglasses (59)',
 'UV Protection, Gradient, Night Vision Retro Square Sung...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Polarized, UV Protection Retro Square Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient Wayfarer, Retro Square Sunglass...',
 'Gradient Wayfarer Sunglasses (Free Size)',
 'Night Vision, Riding Glasses Wayfarer Sunglasses (53)',
 'Gradient, UV Protection, Night Vision Retro Square, Spe...']

In [89]:
# to extract top 100 price of sunglasses by using xpath function
price=[]
for i in page_url:
    driver.get(i)
    pri=driver.find_elements_by_xpath("//div[@class='_30jeq3']")[:100]
    for i in pri:
        price.append(i.text)
price

['₹279',
 '₹375',
 '₹299',
 '₹497',
 '₹652',
 '₹2,899',
 '₹349',
 '₹664',
 '₹627',
 '₹695',
 '₹799',
 '₹850',
 '₹237',
 '₹460',
 '₹299',
 '₹500',
 '₹305',
 '₹899',
 '₹879',
 '₹498',
 '₹215',
 '₹399',
 '₹899',
 '₹349',
 '₹252',
 '₹331',
 '₹404',
 '₹625',
 '₹1,289',
 '₹202',
 '₹1,041',
 '₹664',
 '₹251',
 '₹506',
 '₹358',
 '₹312',
 '₹971',
 '₹225',
 '₹499',
 '₹499',
 '₹237',
 '₹237',
 '₹299',
 '₹279',
 '₹1,299',
 '₹1,299',
 '₹297',
 '₹375',
 '₹749',
 '₹199',
 '₹265',
 '₹664',
 '₹379',
 '₹349',
 '₹951',
 '₹850',
 '₹319',
 '₹299',
 '₹162',
 '₹498',
 '₹246',
 '₹331',
 '₹319',
 '₹500',
 '₹299',
 '₹689',
 '₹699',
 '₹625',
 '₹1,305',
 '₹840',
 '₹249',
 '₹349',
 '₹1,023',
 '₹554',
 '₹805',
 '₹664',
 '₹474',
 '₹499',
 '₹352',
 '₹499',
 '₹331',
 '₹233',
 '₹335',
 '₹279',
 '₹612',
 '₹399',
 '₹499',
 '₹375',
 '₹236',
 '₹323',
 '₹198',
 '₹664',
 '₹210',
 '₹899',
 '₹199',
 '₹850',
 '₹1,134',
 '₹670',
 '₹295',
 '₹498',
 '₹399',
 '₹614',
 '₹263',
 '₹500',
 '₹199',
 '₹214',
 '₹314',
 '₹349',
 '₹545',
 '₹314',
 '₹899',
 '₹625',
 '₹339',
 '₹210',
 '₹269',
 '₹664',
 '₹420',
 '₹1,329',
 '₹209',
 '₹499']

In [91]:
#to extract the discount of top 100 sunglasses by using xpath function
discount=[]
for i in page_url:
    driver.get(i)
    disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")[:100]
    for i in disc:
        discount.append(i.text)
discount

['₹520 off',
 '₹670 off',
 '₹2300 off',
 '₹402 off',
 '₹147 off',
 '₹1250 off',
 '₹1335 off',
 '₹272 off',
 '₹104 off',
 '₹100 off',
 '₹1150 off',
 '₹1362 off',
 '₹339 off',
 '₹2300 off',
 '₹1650 off',
 '₹1894 off',
 '₹20 off',
 '₹1027 off',
 '₹570 off',
 '₹1600 off',
 '₹650 off',
 '₹1247 off',
 '₹1268 off',
 '₹1595 off',
 '₹1525 off',
 '₹10 off',
 '₹997 off',
 '₹244 off',
 '₹835 off',
 '₹948 off',
 '₹393 off',
 '₹927 off',
 '₹387 off',
 '₹3129 off',
 '₹874 off',
 '₹1726 off',
 '₹1753 off',
 '₹1362 off',
 '₹1362 off',
 '₹1200 off',
 '₹520 off',
 '₹2001 off',
 '₹670 off',
 '₹250 off',
 '₹800 off',
 '₹1034 off',
 '₹1335 off',
 '₹1120 off',
 '₹1250 off',
 '₹48 off',
 '₹1150 off',
 '₹1580 off',
 '₹1000 off',
 '₹337 off',
 '₹1650 off',
 '₹1253 off',
 '₹2268 off',
 '₹1679 off',
 '₹1027 off',
 '₹2300 off',
 '₹110 off',
 '₹1300 off',
 '₹1525 off',
 '₹794 off',
 '₹1840 off',
 '₹950 off',
 '₹650 off',
 '₹276 off',
 '₹345 off',
 '₹694 off',
 '₹835 off',
 '₹1782 off',
 '₹1000 off',
 '₹847 off',
 '₹1726 off',
 '₹1668 off',
 '₹1066 off',
 '₹810 off',
 '₹520 off',
 '₹287 off',
 '₹1600 off',
 '₹1000 off',
 '₹670 off',
 '₹363 off',
 '₹1676 off',
 '₹601 off',
 '₹1335 off',
 '₹789 off',
 '₹1100 off',
 '₹1150 off',
 '₹165 off',
 '₹1879 off',
 '₹1704 off',
 '₹1027 off',
 '₹1600 off',
 '₹785 off',
 '₹1732 off',
 '₹1650 off',
 '₹800 off',
 '₹485 off',
 '₹1685 off',
 '₹650 off',
 '₹980 off',
 '₹1685 off',
 '₹1525 off',
 '₹1660 off',
 '₹989 off',
 '₹730 off',
 '₹835 off',
 '₹1280 off',
 '₹170 off',
 '₹1590 off',
 '₹1726 off']

### Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:

In [92]:
#connecting to the web driver
driver = webdriver.Chrome("Chromedriver.exe")

In [93]:
#get the url
url ='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [94]:
#clicking all reviews to scrape top 100 reviews
All_reviews=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']//span")
All_reviews.click()

In [95]:
#getting all the urls of next pages
page_url=[]
url = driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")[:10]
for i in url:
    page_url.append(i.get_attribute('href'))
page_url

['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=1',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=3',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=4',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=5',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=6',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=7',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=8',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=9',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=10']

In [96]:
# to scrape top 100 ratings using xpath 
ratings=[]
for i in page_url:
    driver.get(i)
    rate=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")[:100]
    for i in rate:
        ratings.append(i.text)
ratings

['5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '4',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '3',
 '3',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '4',
 '4',
 '5']

In [97]:
# to scrape top 100 review summary by using xpath
review_summary=[]
for i in page_url:
    driver.get(i)
    review_summ=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")[:100]
    for i in review_summ:
        review_summary.append(i.text)
review_summary

['Brilliant',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Simply awesome',
 'Worth every penny',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Worth every penny',
 'Perfect product!',
 'Highly recommended',
 'Worth every penny',
 'Simply awesome',
 'Terrific',
 'Nice product',
 'Highly recommended',
 'Classy product',
 'Wonderful',
 'Brilliant',
 'Must buy!',
 'Good choice',
 'Perfect product!',
 'Wonderful',
 'Terrific purchase',
 'Simply awesome',
 'Great product',
 'Mind-blowing purchase',
 'Terrific purchase',
 'Simply awesome',
 'Good quality product',
 'Very poor',
 'Best in the market!',
 'Perfect product!',
 'Must buy!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Mind-blowing purchase',
 'Wonderful',
 'Worth every penny',
 'Great product',
 'Just wow!',
 'Very Good',
 'Super!',
 'Perfect product!',
 'Classy product',
 'Perfect product!',
 'Just wow!',
 'Awesome',
 'Terrific',
 'Terrific purchase',
 'Awesome',
 'Perfect product!',
 'Brilliant',
 'Perfect product!',
 'Classy product',
 'Awesome',
 'Perfect product!',
 'Excellent',
 'Not recommended at all',
 'Fabulous!',
 'Excellent',
 'Must buy!',
 'Value-for-money',
 'Brilliant',
 'Terrific purchase',
 'Good quality product',
 'Perfect product!',
 'Value-for-money',
 'Just wow!',
 'Super!',
 'Best in the market!',
 'Mind-blowing purchase',
 'Excellent',
 'Excellent',
 'Pretty good',
 'Must buy!',
 'Worth every penny',
 'Mind-blowing purchase',
 'Good quality product',
 'Fabulous!',
 'Awesome',
 'Awesome',
 'Terrific purchase',
 'Awesome',
 'Decent product',
 'Does the job',
 'Wonderful',
 'Pretty good',
 'Super!',
 'Fabulous!',
 'Excellent',
 'Classy product',
 'Best in the market!',
 'Wonderful',
 'Nice product',
 'Good quality product',
 'Highly recommended']

In [98]:
#to scrape top 100 full reviews by using xpath 
full_review=[]
for i in page_url:
    driver.get(i)
    full_summ=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")[:100]
    for i in full_summ:
        full_review.append(i.text)
full_review

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...\nREAD MORE',
 'Excellent camera, good performance, no lag. The lcd display is also good.. but difference come when we watch movie in prime and Netflix, the colours are not vibrant.. as we see in amoled display.. and the charger in box is of 5 watts.. takes more than 3 hours to charge from 0 to 100.. so guys be prepare to buy 18 watts charger . Finally I am an android user, it was my first Iapple phone, I promise u guys the iOS is so smooth.. overall the phone is damn good.... close eyes to buy it.. thanks t...\nREAD MORE',
 'Really worth of money. i just love it. It is the best phone ever.',
 'Awesome Phone. Slightly high price but worth. Better than iPhone XR.\nCamera is superb and wide angle camera is very clear.\n12MP selfie camera is also very good.\nA13 Chip gives a very good and smooth performance.',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'Superb Product !!!\nA big and worthy upgrade from mi 3S to iphone 11 .\nTotally loved it !',
 'This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. It’s worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is it’s camera and it’s battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And can’t forget to mention Flipkart service. Very prompt service and fast delivery.',
 'I have migrated from OP 7pro... and trust me, iPhone 11 is totally worth it.. following are the reasons:-\n1)there is ABSOLUTELY NO ISSUE WITH THE DISPLAY... its crisp, sharp and I found it to be much much better than OP7 pro. Netflix, Prime video all run crisply... you won’t miss a thing. True Tone works flawlessly...the display brightness is perfect. OP have not calibrated their screens properly.\n2) iPhone 11 series have really good cameras... others have spoken in depth about them.\n3) bat...\nREAD MORE',
 'It’s an amazing product from apple and the camera is simply superb. Phone is faster.Night shot is simply superb and detailing and colour differentiation from camera is an added advantage\n\nThis review I have written from iPhone 11 only and I am glad to say outside.\n\nCons wise if we see HD+ display only, no battery percentage indicator as in older iPhone 8.\nNo assistive touch control button in it\nNo oleophobic coating on back panel glass and finger prints are visible but since I bought mint gr...\nREAD MORE',
 'Looking so good 👍 😍 super 👌 stylish 😎 phone\nClean box 📦 good 👍 delivery 👌 fast delivery\nOriginal box Original iphone 📱 👌 😍😍😍',
 'After 1 month use I found camera quality best compared to my previous Samsung note 10+.Display not good as note 10 also charging too slow.Apple should add fast charger like 11 plus and pro.Best phone for daily use',
 'I just directly switch from iphone 6s to iphone 11 .The best premium smartphone I recommend to everyone. Excellent quality and colors the iphone have in 11 series.\nCamera quality is just awesome and the major feel when we hold in our hands. The sound quality and volume is also higher then the previous models.\nI will recommend to buy iphone 11 instead of pro models , there is nothing much difference as this model contains everything which fulfill our needs.\n\nOnly one thing that I dislike abo...\nREAD MORE',
 'Upgraded from iphone 6 to 11 best phone for iphone users battery is much better than other iphones camera is awesome love to use it.camera is so clear in night.',
 "It's very high performances devise i am like the service of flipkart delevary very fast and packing very nice perfect phone",
 'Well you all know the specifications . One of a kind. Best iPhone till date. Many enhancements to the camera app with many options. Love the glass body with matte finish in the lens area on the back. Lovely colours to choose from. Best battery in an iPhone till date, enough to last more than a day in normal usage. I tested my iPhone 11 battery and lasted for than 24 hours after full charge still with 30% battery charge left. Watched movies for some time. Normal usage on calls, browsing, musi...\nREAD MORE',
 'This will help you more. See if you are planning to buy iPhone 11. I will say. Yes. But there are some plans I just want to disclose before you buy. 1) If you are an existing iPhone X/XS/XS Max/ XR user, better you guys do not think it to buy. You guys have more or less better gadget. 2) If you are an android user and planning to buy premium phone. I will suggest them to please buy iPhone instead of buying an Android. I bet you will never go back to android after using IOS. Now I want to shar...\nREAD MORE',
 'The built quality is not very premium.\nThe battery back is great .\nThe LCD panel is not so sharp but the brightness level is very High .\nCamera is super duper awesome.\nThe red colour which people think is bright is actually very soothing and excellent colour to choose from .\nThe A13 Bionic chip is really a flagship processor and can beat any phone which even has 12 gb ram .\nCamera module is very great and looks very stylish.',
 'Really good actually this is my first apple product am using its really awesome performance wise excellent. Am really happy with this iphone11',
 'it is very good at performance. Camera is best like before and very smooth response even in water. Don’t buy 12 mini buy iPhone 11 , it is far better than 12 mini believe me ! Have a nice day \uf8ff ☺️',
 'Reviewing again after 5 months. At the beginning the battery and performance was good but it degraded soon. Also I was facing heating issues. The mobile will heat up like a stove sometimes. You cannot even play Pubg even in low settings properly, performance is not a problem but heating is. Also if you play that game for 10 mins the brightness will be automatically down due to over heating even when the auto brightness is set to off. This will not be solved even if u manually increase the bri...\nREAD MORE',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one',
 'Best Apple iPhone that i have bought at a very reasonable price, camera quality is next level just awesome n of superior quality android phones not even close(RIP) to that and also battery is really good but packaging by Flipkart of iPhone was very poor of such a expensive product, firstly im bit worried about the quality of product if i purchased it through online how was the product but i think now this was mine best decision to bought it through Flipkart online because i got genuine Apple...\nREAD MORE',
 "I can say I'm damn impressed with iPhone 11. As they says iPhone 11 have the toughest glass ever in the smartphone which you'll find on the front and back and it's totally smooth. The fit and finish is full apple quality - there's no sense that any cheaping out has happened in the construction. Without saying it's camera features this review won't complete. The iPhone 11 has a dual camera system, consisting of a wide angle len's that's pretty much same as found on the iPhone XR last year, but...\nREAD MORE",
 'Best Quality Product OF iPhone Series , Sound Quality & Camera quality is very awesome, Battery Life is very Sufficient for 24 hr Backup With Full Internet Access , I love this this Product too much , It is very fast & making me Very fast in all my daily Routine\nHighlights;\n1.Camera: 5 STAR\n2.Video Recording: 5 star\n3.Night mODE sHOOTING & Camera:4 star\n4. Audio Quality: Awesome\n5. Battery : 5 Star\n6. Touch:5 Star\n7. Processor: Very Fast\nThe M...\nREAD MORE',
 'First thanks to Flipkart for this amazing deal and phone is outstanding. I upgraded from iPhone 7 and this is like very big upgrade. But the packaging was very basic I expected a good packaging as they only wrapped one layer of bubble wrap which I don’t think is enough to protect this expensive phone. And I recommend this phone and seller as well.\n\nAnd I’m posting this review after using it for 4 days.',
 'Superfast delivery by Flipkart. Thanks.\n\n1. iPhone 11 is a pretty solid phone for the money you are paying.\n2. All the bad reviews about the display is confusing. It’s not that bad.\n3. I switched from a Oneplus 7t. I have no complaints about the display quality of iPhone. Yes, it’s not OLED, so, we are missing on the deep blacks. But that’s it. It is a very colour accurate display. Gets adequately bright and I could not find any pixelation.\n4. Performance is one of the best, if not best, in ...\nREAD MORE',
 'Smooth like butter, camera like fantabulous, sound is crystal clear & its red color is damn attractive, i am just loving it. Must buy if you love photography.\n\nLucky to get it in sale, thank you Flipkart.',
 "Again back to apple iphone after a gap of 2-3 years. It's pleasure to use iOS and the quality product by Apple. Iphone 11 still works like a beast in 2021 also. It really capable of doing day to day usage as well as hard core gaming. Battery is awesome. I'm really too much satisfied with it. Apart fto the very gorgious IPS LCD (AMOLED will be better) everything is mind boggling. Iphone💕.",
 'The ultimate performance\nCamera is superb\nThe battery backup also very good i never saw iphone gives this much of battery backup\nIf any one wana buy iphone 11 definitely i will recommend this mobile\nIt has the better battery and powerfull processer peak performance glorious camera and the display also 100% high quality lcd display if u had money for for 12 if u dont wana invest much money on that then go for iphone 11 it has maximum same specs only main difference between the 12 and 11 is...\nREAD MORE',
 'impressive super phone and best in class camera ,sound and face unlock is super fast just see and phone is unlock and fast in daily apps use',
 "It's a great phone. From camera to display everything is best for the price.\nBest camera , best performance. I think everyone should buy it . This phone has best battery life so far in iphone series which I had used earlier. Happy to have it. Thanks Flipkart",
 'Battery backup is extraordinary, camera is decent & performance offered by A13 bionic is awsome. The display is good in practical usage like the visibility of display is very good in direct sun light compare to pro models. Iam extremely satisfied for the money I spent.',
 'Well while switching from android to iOS the first thing you need to be careful about is that you will loose all your whatsapp chat backups as both are different operating systems. Camera clarity is awesome and though being an lcd screen clarity and resolution is good. Battery backup is also good unlike previous gen iPhone. So far the experience is good will Padre after a few months of usage.\n\nP.S the black is more of a dark grey shade and not jet black',
 'In love with this iphone great performance,camera ,battery everything. Go for it have a uncompareble battery backup, no doubts in iPhone camera here You can see the picture which is shot on my iPhone In love with this iphone great performance,camera ,battery everything. Go for it have a uncompareble battery backup, no doubts in iPhone camera here You can see the picture which is shot on my iPhone In love with this iphone great performance,camera ,battery everything. Go for it have a uncompare...\nREAD MORE',
 'Best in class. Battery backup is good especially when you play games like Pubg COD. But it is sort of heavy when you hold in hands. Portrait mode is best to click pictures. Stage light effect is awesome. Try to click photos outside in nature because photos inside home or room will not give you the quality in any phone even in DSLR.',
 'Very excited to have this phone. This phone has the real power unlike the android phones having SD 855 . The battery life is very good and the camera quality is excellent as comapred to redmi and other phones except google pixel. I M enjoying every single bit of it. Would recommed only if you have the budget.',
 "I upgraded (downgraded?) from my iPhone X since the phone fell down and I didn't want to repair the screen. The box that the phone came in was super slim and I was worried that there'd be no 5W charger with it and my fears were confirmed. However, thankfully I had the 18W USB-C PD charger from Apple which I bought for my iPhone X and it worked perfectly. The charging time is as lethargic as ever though and it takes about 1:30 mins or even 2 hours depending on charge remaining. I'll list some ...\nREAD MORE",
 'Its Very awesome product working and good camera quality and all about best product and also flipkart is very great deal and offer nice price',
 'I am using this phone for 5 days and its one of the best camera out there ❤️ the screen is not oled and i am coming from iphone xs so its little bit not up to the mark i would say\nBut overall value for money💕😍the battery back up is far better than my iphone xs and its worth in my apple ecosystem💫❤️if u are an apple User and have the eco system then go for it❤️though i will be getting the new iphone but its pretty good💫',
 'Best and amazing product.....phone looks so premium.... battary is also good as expected .... Wide angle camera is so addictive ...if you are a IOS lover....then this phone will be the best choice for you all!!💯🔥',
 'Excellent camera and display touching very nice and smooth very improvement against iPhone XR and new processor is very fast',
 'Awesome purchase. Amazing phone with good battery backup. It’s a top notch device. White colour looks amazing. Phone has a few extra feature than iPhone XR. Overall, this is value for money',
 'Totally in love with this ❤ the camera quality is amazing just love it 😘😘😘 itsss dammnnnnnn amazing... Must buy iPhone 11 this is my best experience ever ☀👌👌🧡🧡🧡🧡🧡 thanku apple ❤',

In [99]:
#cheaking length by using length function
print(len(review_summary), len(full_review))

100 100

### Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [100]:
#connecting to the web driver
driver = webdriver.Chrome("Chromedriver.exe")

In [101]:
#get the url
url = 'https://www.flipkart.com/'
driver.get(url)

In [102]:
# to write sneakers in search field
search=driver.find_element_by_xpath("//div[@class='_3OO5Xc']//input")
search.send_keys("sneakers")

In [103]:
#to click on search button by using xpath function
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [104]:
#getting urls of the next pages to scrape data for top 100 products
page_url2=[]
url = driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")[:3]
for i in url:
    page_url2.append(i.get_attribute('href'))
page_url2

['https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3']

In [105]:
# to scrape top 100 brands of sneakers using xpath function
brands=[]
for i in page_url2:
    driver.get(i)
    brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")[:100]
    for i in brand:
        brands.append(i.text)
brands

['India hub',
 'kardam&sons',
 'Robbie jones',
 'CALCADOS',
 'KULP',
 'Shoes Bank',
 'PEHANOSA',
 'Extoes',
 'Kraasa',
 'World Wear Footwear',
 'Robbie jones',
 'BRUTON',
 'Birde',
 'Chevit',
 'Stefano Rads',
 'TR',
 'Robbie jones',
 'ASTEROID',
 'BRUTON',
 'PEHANOSA',
 'ESSENCE',
 'SPARX',
 'Chevit',
 'Echor',
 'Numenzo',
 'Chevit',
 'SCATCHITE',
 'Extoes',
 'bluemaker',
 'Alfiya',
 'World Wear Footwear',
 'Numenzo',
 'believe',
 'D-SNEAKERZ',
 'Jokatoo',
 'ZMLOOK',
 'Arohi',
 'SPARX',
 'Magnolia',
 'Echor',
 'kardam&sons',
 'SPARX',
 'restinfoot',
 'India hub',
 'REEBOK',
 'Robbie jones',
 'Bonexy',
 'Extoes',
 'WRIZT',
 'STRANGER BROTHERS',
 'Zsyto',
 'BRUTON',
 'NIKE',
 'World Wear Footwear',
 'SPARX',
 'TR',
 'Fzzirok',
 'bluemaker',
 'Chevit',
 'PEHANOSA',
 'Robbie jones',
 'ESSENCE',
 'FILA',
 'Echor',
 'NIKE',
 'Zsyto',
 'Chevit',
 'Numenzo',
 'World Wear Footwear',
 'BRUTON',
 'ADIDAS',
 'Echor',
 'KULP',
 'Robbie jones',
 'SPARX',
 'Echor',
 'PEXLO',
 'India hub',
 'ESSENCE',
 'Extoes',
 'Magnolia',
 'PUMA',
 'Englewood',
 'India hub',
 'Absolute comfort',
 'Robbie jones',
 'Absolute comfort',
 'Extoes',
 'SPARX',
 'HOCKWOOD',
 'PUMA',
 'BRUTON',
 'BRUTON',
 'PUMA',
 'Chevit',
 'TR',
 'PUMA',
 'PUMA',
 'BRUTON',
 'PEHANOSA',
 'STRANGER BROTHERS',
 'DUCATI',
 'Numenzo',
 'Echor',
 'Ktiz',
 'Chevit',
 'SPARX',
 'Numenzo',
 'Jack Diamond',
 'Svpanther',
 'DUCATI',
 'Echor',
 "LEVI'S",
 'BRUTON',
 'Ktiz',
 'Echor',
 'Chevit',
 'RED TAPE',
 'PUMA',
 'Extoes']

In [106]:
# to scrape top 100 product_description of sneakers using xpath function
product_description=[]
for i in page_url2:
    driver.get(i)
    product_discrip=driver.find_elements_by_xpath("//a[@class='IRpwTa']")[:100]
    for i in product_discrip:
        product_description.append(i.text)
product_description

['Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 '310 Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Sneakers For Men',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Series 7 Sneakers For Men',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'Sneakers For Men',
 'Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Combo Pack Of 4 Casual Sneakers For Men',
 'Raptor Sneakers For Men',
 'Casuals Sneakers For Men',
 'SM-322 Sneakers For Men',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Sneakers For Men',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Sneakers Sneakers For Men',
 'Casual Sneaker Sneakers For Men',
 'casual for men (blue 06) Sneakers For Men',
 'Shoes in Black Color Party wear/Outdoor/Casual Shoes Fo...',
 'Combo Pack of 4 Latest Collection Stylish Casual Loafer...',
 'Sneakers For Men',
 'Sneakers for men(black_6) Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'HHM Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'shoes for boys Sneakers For Men',
 'Fashionable casual sneaker shoes Sneakers For Men',
 'SD-323 Sneakers For Men',
 "Casual shoes,Sneakers for men's,shoes for men's Sneaker...",
 'TREAD LITE LUX Sneakers For Men',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Court Royale AC Sneakers For Men',
 'Men 5014 Latest Collection Stylish Casual Sports Loafer...',
 'SM-162 Sneakers For Men',
 'Sneakers For Men',
 'casual for men (beige 06) Sneakers For Men',
 "Super & Trendy Men's Pack of 02 Pair Shoes for Boys Cas...",
 'Sneakers For Men',
 'Casual Sneakers Shoes For Men And Boys Sneakers For Men',
 'Trendy Sneakers For Men',
 'DERICO Sneakers For Men',
 'Raptor Sneakers For Men',
 'SB Heritage Vulc Skate Sneakers For Men',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Casual Sneaker Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Adiset M Sneakers For Men',
 'HHM Sneakers For Men',
 'Casual Sneakers White Shoes For Men And Boys Sneakers F...',
 'Casual Sneakers White Shoes For Men And Boys Sneakers F...',
 'Canvas Casual Partywear Outdoor Sneakers Shoes For Mens...',
 'shoes for boys Sneakers For Men',
 'Combo Pack of 3 Casual Sneakers Shoes Sneakers For Men',
 'Trendy Sneakers For Men',
 'White Sneakers Sneakers For Men',
 'Puma Rebound LayUp SL Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Poise Perf IDP Sneakers For Men',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Combo Pack of 5 Casual Sneakers With Sneakers For Men',
 'Simha IDP Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Sneakers For Men',
 'Poise Perf V1 IDP Sneakers For Men',
 'Flex Generation V1 IDP Sneakers For Men',
 'Combo Pack Of 4 Casual Sneakers For Men',
 'Raptor Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Rockstyle Trending Multicolor Ultralight canvas Sport/ ...',
 '168 Smart Red Lace-Ups Casuals for Men Sneakers For Men',
 'SM-439 Sneakers For Men',
 'Casual Sneaker Sneakers For Men',
 'Sneakers For Men',
 'HHM Sneakers For Men',
 'INDI EXCLUSIVE Sneakers For Men',
 'Men Combo Pack of 2 Casual & Sneaker Shoes (Loafer Shoe...',
 'Sneakers For Men',
 'shoes for boys Sneakers For Men',
 'Super 445 Fashion Sneakers For Men',
 'Sneakers For Men',
 'Simha IDP Sneakers For Men']

In [107]:
# to scrape top 100 price of sneakers using xpath function
price=[]
for i in page_url2:
    driver.get(i)
    pri=driver.find_elements_by_xpath("//div[@class='_30jeq3']")[:100]
    for i in pri:
        price.append(i.text)
price

['₹424',
 '₹298',
 '₹379',
 '₹748',
 '₹399',
 '₹349',
 '₹499',
 '₹474',
 '₹471',
 '₹240',
 '₹449',
 '₹599',
 '₹698',
 '₹759',
 '₹217',
 '₹499',
 '₹474',
 '₹499',
 '₹474',
 '₹539',
 '₹399',
 '₹769',
 '₹470',
 '₹499',
 '₹378',
 '₹599',
 '₹377',
 '₹569',
 '₹449',
 '₹377',
 '₹499',
 '₹440',
 '₹399',
 '₹365',
 '₹418',
 '₹539',
 '₹439',
 '₹695',
 '₹356',
 '₹539',
 '₹410',
 '₹576',
 '₹379',
 '₹424',
 '₹1,047',
 '₹474',
 '₹383',
 '₹298',
 '₹279',
 '₹451',
 '₹398',
 '₹474',
 '₹2,472',
 '₹240',
 '₹730',
 '₹599',
 '₹399',
 '₹449',
 '₹470',
 '₹499',
 '₹474',
 '₹442',
 '₹1,260',
 '₹539',
 '₹3,297',
 '₹398',
 '₹499',
 '₹569',
 '₹240',
 '₹299',
 '₹2,087',
 '₹539',
 '₹449',
 '₹499',
 '₹666',
 '₹539',
 '₹661',
 '₹424',
 '₹442',
 '₹499',
 '₹311',
 '₹2,649',
 '₹474',
 '₹424',
 '₹189',
 '₹474',
 '₹199',
 '₹298',
 '₹799',
 '₹656',
 '₹1,518',
 '₹474',
 '₹719',
 '₹1,500',
 '₹474',
 '₹599',
 '₹1,592',
 '₹1,671',
 '₹499',
 '₹539',
 '₹407',
 '₹1,572',
 '₹449',
 '₹499',
 '₹474',
 '₹236',
 '₹699',
 '₹569',
 '₹635',
 '₹499',
 '₹1,259',
 '₹539',
 '₹1,048',
 '₹359',
 '₹399',
 '₹539',
 '₹389',
 '₹899',
 '₹1,410',
 '₹499']

In [108]:
# to scrape top 100 discount% of sneakers using xpath function
discount=[]
for i in page_url2:
    driver.get(i)
    disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")[:100]
    for i in disc:
        discount.append(i.text)
discount

['85% off',
 '75% off',
 '62% off',
 '62% off',
 '60% off',
 '65% off',
 '50% off',
 '40% off',
 '52% off',
 '51% off',
 '55% off',
 '86% off',
 '65% off',
 '69% off',
 '68% off',
 '70% off',
 '52% off',
 '75% off',
 '88% off',
 '50% off',
 '60% off',
 '23% off',
 '68% off',
 '46% off',
 '62% off',
 '62% off',
 '62% off',
 '50% off',
 '55% off',
 '62% off',
 '81% off',
 '43% off',
 '60% off',
 '44% off',
 '71% off',
 '61% off',
 '56% off',
 '64% off',
 '46% off',
 '79% off',
 '23% off',
 '62% off',
 '85% off',
 '54% off',
 '52% off',
 '61% off',
 '40% off',
 '72% off',
 '54% off',
 '60% off',
 '86% off',
 '45% off',
 '51% off',
 '23% off',
 '70% off',
 '60% off',
 '55% off',
 '76% off',
 '50% off',
 '52% off',
 '55% off',
 '63% off',
 '46% off',
 '40% off',
 '69% off',
 '72% off',
 '43% off',
 '51% off',
 '88% off',
 '42% off',
 '46% off',
 '55% off',
 '50% off',
 '11% off',
 '46% off',
 '72% off',
 '85% off',
 '55% off',
 '50% off',
 '68% off',
 '47% off',
 '75% off',
 '85% off',
 '62% off',
 '52% off',
 '60% off',
 '40% off',
 '15% off',
 '34% off',
 '53% off',
 '86% off',
 '82% off',
 '49% off',
 '76% off',
 '70% off',
 '60% off',
 '58% off',
 '87% off',
 '50% off',
 '59% off',
 '56% off',
 '77% off',
 '46% off',
 '63% off',
 '52% off',
 '43% off',
 '36% off',
 '50% off',
 '65% off',
 '46% off',
 '62% off',
 '85% off',
 '60% off',
 '46% off',
 '22% off',
 '84% off',
 '52% off',
 '50% off']

### Q9: Go to the link - https://www.myntra.com/shoes

In [109]:
#connecting to the web driver
driver = webdriver.Chrome("Chromedriver.exe")

In [110]:
#get the url
url = ' https://www.myntra.com/shoes'
driver.get(url)

In [113]:
#clicking price filter by coping full xpath
price_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]')
price_filter.click()

In [112]:
#clicking colour filter by coping full xpath
colour_filter=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
colour_filter.click()

In [114]:
#getting urls of next poges to scrape data for top 100 products
page_url3=[]
url = driver.find_elements_by_xpath("//li[@class='pagination-number']//a")[:2]
for i in url:
    page_url3.append(i.get_attribute('href'))
page_url3

['https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6612.0_13075.0_6612.0%20TO%2013075.0%2C6649.0_13099.0_6649.0%20TO%2013099.0&p=2',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6612.0_13075.0_6612.0%20TO%2013075.0%2C6649.0_13099.0_6649.0%20TO%2013099.0&p=3']

In [115]:
# to scrape data for top 100 brands of shoes by usking xpath
product_brands=[]
for i in page_url3:
    driver.get(i)
    brand=driver.find_elements_by_xpath("//h3[@class='product-brand']")[:100]
    for i in brand:
        product_brands.append(i.text)
product_brands

['DAVINCHI',
 'Geox',
 'Heel & Buckle London',
 'UNDER ARMOUR',
 'Geox',
 'Saint G',
 'Saint G',
 'Cole Haan',
 'Geox',
 'Geox',
 'Geox',
 'Skechers',
 'Skechers',
 'Puma',
 'Geox',
 'Cole Haan',
 'Cole Haan',
 'Geox',
 'RARE RABBIT',
 'FILA',
 'Ruosh',
 'J.FONTINI',
 'Puma',
 'VIONIC',
 'J.FONTINI',
 'Nike',
 'UNDER ARMOUR',
 'ADIDAS',
 'ADIDAS',
 'KLEAT',
 'Cole Haan',
 'Nike',
 'Heel & Buckle London',
 'Saint G',
 'Nike',
 'Geox',
 'Kenneth Cole',
 'Cole Haan',
 'Geox',
 'Heel & Buckle London',
 'Geox',
 'Cole Haan',
 'FILA',
 'Geox',
 'Cole Haan',
 'Cole Haan',
 'UNDER ARMOUR',
 'Heel & Buckle London',
 'Lacoste',
 'Heel & Buckle London',
 'KLEAT',
 'ALDO',
 'Puma',
 'Kenneth Cole',
 'Nike',
 'Hush Puppies',
 'Florsheim',
 'Florsheim',
 'Saint G',
 'ADIDAS',
 'Kenneth Cole',
 'UNDER ARMOUR',
 'ADIDAS',
 'Nike',
 'Kenneth Cole',
 'J.FONTINI',
 'J.FONTINI',
 'Heel & Buckle London',
 'ALDO',
 'Skechers',
 'Ruosh',
 'ASICS',
 'DAVINCHI',
 'DAVINCHI',
 'UNDER ARMOUR',
 'DAVINCHI',
 'DAVINCHI',
 'Nike',
 'UNDER ARMOUR',
 'Skechers',
 'Geox',
 'ALDO',
 'Nike',
 'ASICS',
 'Clarks',
 'Nike',
 'Nike',
 'ALDO',
 'UNDER ARMOUR',
 'Saint G',
 'ALDO',
 'Clarks',
 'Birkenstock',
 'Kenneth Cole',
 'Cole Haan',
 'Kenneth Cole',
 'Birkenstock',
 'ALDO',
 'Nike',
 'ADIDAS']

In [116]:
#to scrape data for top 100 shoe description of shoes by usking xpath
shoe_description=[]
for i in page_url3:
    driver.get(i)
    shoe_descrip=driver.find_elements_by_xpath("//h4[@class='product-product']")[:100]
    for i in shoe_descrip:
        shoe_description.append(i.text)
shoe_description

['Men Leather Formal Slip Ons',
 'Men Textured Formal Leather Loafers',
 'Women AIR ELEMENT 2 Sneakers',
 'Men Leather Formal Slip-Ons',
 'Women Solid Leather Gladiators',
 'GS SC 3Zero IV Basketball',
 'Men Leather Formal Derbyacs',
 'Women Leather Heeled Boots',
 'Women Solid Leather Pumps',
 'Women Leather Sneakers',
 'Women Leather Ballerinas',
 'Women Solid Leather Loafers',
 'Men Flex Advantage 4.0Upstream',
 'Men Football Shoes',
 'Men Leather Driving Shoes',
 'Men Perforations Leather Brogues',
 'Men Wingtip Oxford Sneakers',
 'Men Leather Slip-On Sneakers',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Men Textured Leather Loafers',
 'Men Leather Sneakers',
 'Men Leather Formal Brogues',
 'Men IGNITE Dual Running Shoes',
 'Men Textured Sneakers',
 'Men Textured Leather Loafers',
 'Men AIR ZOOM PEGASUS 38 Run',
 'Project Rock 3 Training Shoes',
 'Men Ultraboost DNA CC_1 Shoes',
 'Men Running Shoes',
 'Men Woven Design Loafers',
 'Men RENEW FUSION Running Shoes',
 'Women Open Toe Flats',
 'Women Solid Leather Heels',
 'Women Heeled Boots',
 'Men JORDAN ONE TAKE II Shoes',
 'Men Leather Formal Monks',
 'Women Leather Heels',
 'Women Leather Pumps',
 'Women Solid Leather Pumps',
 'Women Leather Solid Pumps',
 'Women Peep Toe Heels',
 'Women Solid Leather Ballerinas',
 'Women Sneakers',
 'Women Woven Design Slip-On Sneakers',
 'Women Woven Design Sneakers',
 'Women Woven Design Slip-On Sneakers',
 'Men HOVR Rise 2 Training Shoes',
 'Men Leather Formal Oxfords',
 'Woven Design Casual Sneakers',
 'Women Leather Pumps',
 'Men Woven Design Sneakers',
 'Women Woven Design Sneakers',
 'Men Duplex Evo Rise Sneakers',
 'Women Solid Flat Boots',
 'Women AIR MAX VIVA Sneakers',
 'Men Solid Leather Formal Loafers',
 'Men Leather Formal Derbys',
 'Men Solid Leather Formal Derbys',
 'Women Embellished Sandals',
 'Women Edge Lux 4 Running',
 'Men Solid Leather Formal Oxfords',
 'Charged Pursuit 2 Running',
 'Ultraboost DNA Running Shoes',
 'Men REACT MILER 2 Running',
 'Men Leather Driving Shoes',
 'Men Leather Formal Loafers',
 'Men Solid Leather Formal Derbys',
 'Men Solid Leather Formal Penny Loafers',
 'Women Open Toe Flats',
 'Men MAX ROAD 4 Running Shoes',
 'Men Formal Leather Brogues',
 'Men Running Shoes',
 'Ustraa black',
 'Men Formal Leather Slip-Ons',
 'Men HOVR Guardian 2 Running',
 'Men Textured Formal Leather Loafers',
 'Men Solid Leather Formal Derbys',
 'Men AIR MAX INFINITY Sneakers',
 'HOVR Infinite 2 Running Shoes',
 "Women D'LITES 3.0 AIR Sneakers",
 'Men Leather Loafers',
 'Men Solid Leather Formal Derbys',
 'Men Casual Shoes',
 'Men EvoRide TOKYO Shoes',
 'Men Leather Sneakers',
 'Men REACT MILER 2 Running',
 'Men PG 5 EP Basketball Shoes',
 'Women Sneakers',
 'Women HOVR Infinite 2 Running',
 'Men Leather Chelsea Boots',
 'Men Solid Leather Formal Oxfords',
 'Men Solid Leather Formal Derbys',
 'Women Arizona Oiled Leather Flats',
 'Men Solid Leather Formal Derbys',
 'Women Leather Wedges',
 'Men Solid Leather Formal Brogues',
 'Women Derbys Casual Shoes',
 'Men Sneakers',
 'KD TREY 5 Basketball Shoes',
 'Men Leather COPA 21.3 FG Shoes']

In [117]:
# to scrape data for top 100 prices of shoes by using xpath
price=[]
for i in page_url3:
    driver.get(i)
    pri=driver.find_elements_by_xpath("//div[@class='product-price']")[:100]
    for i in pri:
        price.append(i.text)
price

['Rs. 8990',
 'Rs. 7495Rs. 14990(50% OFF)',
 'Rs. 6993Rs. 9990(30% OFF)',
 'Rs. 7499',
 'Rs. 7495Rs. 14990(50% OFF)',
 'Rs. 6675Rs. 8900(25% OFF)',
 'Rs. 6622Rs. 8600(23% OFF)',
 'Rs. 7699Rs. 10999(30% OFF)',
 'Rs. 8999',
 'Rs. 9490',
 'Rs. 7999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 8499Rs. 16999(50% OFF)',
 'Rs. 9999',
 'Rs. 12999',
 'Rs. 11999',
 'Rs. 9490',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 6990',
 'Rs. 6990',
 'Rs. 6999',
 'Rs. 7039Rs. 10999(36% OFF)',
 'Rs. 7690',
 'Rs. 9995',
 'Rs. 12599Rs. 13999(10% OFF)',
 'Rs. 8499Rs. 16999(50% OFF)',
 'Rs. 10449Rs. 18999( 45 % OFF)',
 'Rs. 7999',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 6995',
 'Rs. 6993Rs. 9990(30% OFF)',
 'Rs. 7440Rs. 8000(7% OFF)',
 'Rs. 8295',
 'Rs. 7999Rs. 15999(50% OFF)',
 'Rs. 10493Rs. 14990(30% OFF)',
 'Rs. 6749Rs. 14999(55% OFF)',
 'Rs. 10990',
 'Rs. 7192Rs. 8990(20% OFF)',
 'Rs. 11990',
 'Rs. 9799Rs. 13999(30% OFF)',
 'Rs. 8999',
 'Rs. 11990',
 'Rs. 6749Rs. 14999(55% OFF)',
 'Rs. 6749Rs. 14999(55% OFF)',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 7693Rs. 10990(30% OFF)',
 'Rs. 7595Rs. 10850(30% OFF)',
 'Rs. 7192Rs. 8990(20% OFF)',
 'Rs. 7999',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 9513Rs. 13590(30% OFF)',
 'Rs. 12495',
 'Rs. 6995',
 'Rs. 6999',
 'Rs. 6995',
 'Rs. 7000',
 'Rs. 7999',
 'Rs. 8154Rs. 13590(40% OFF)',
 'Rs. 6999',
 'Rs. 11899Rs. 16999(30% OFF)',
 'Rs. 11495',
 'Rs. 8953Rs. 12790(30% OFF)',
 'Rs. 6990',
 'Rs. 6990',
 'Rs. 8792Rs. 10990(20% OFF)',
 'Rs. 8999',
 'Rs. 10999',
 'Rs. 7490',
 'Rs. 11999',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 8999Rs. 11999(25% OFF)',
 'Rs. 8990',
 'Rs. 7990',
 'Rs. 8295',
 'Rs. 9599Rs. 11999(20% OFF)',
 'Rs. 6999',
 'Rs. 10990',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 8295',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 7499',
 'Rs. 11495',
 'Rs. 9295',
 'Rs. 11999',
 'Rs. 8999Rs. 11999(25% OFF)',
 'Rs. 11305Rs. 11900(5% OFF)',
 'Rs. 9599Rs. 15999(40% OFF)',
 'Rs. 7999',
 'Rs. 11990',
 'Rs. 8154Rs. 13590(40% OFF)',
 'Rs. 7199Rs. 15999(55% OFF)',
 'Rs. 9093Rs. 12990(30% OFF)',
 'Rs. 11990',
 'Rs. 9999',
 'Rs. 7995',
 'Rs. 6999']

In [118]:
#checking length using len function
print(len(product_brands), len(shoe_description), len(price))

100 100 100

In [119]:
#creating a dataframe by importing pandas as pd
shoes=pd.DataFrame({})
shoes['Brands']=product_brands
shoes['Shoe Description']=shoe_description
shoes['Price']=price
shoes

,Brands,Shoe Description,Price
0,DAVINCHI,Men Leather Formal Slip Ons,Rs. 8990
1,Geox,Men Textured Formal Leather Loafers,Rs. 7495Rs. 14990(50% OFF)
2,Heel & Buckle London,Women AIR ELEMENT 2 Sneakers,Rs. 6993Rs. 9990(30% OFF)
3,UNDER ARMOUR,Men Leather Formal Slip-Ons,Rs. 7499
4,Geox,Women Solid Leather Gladiators,Rs. 7495Rs. 14990(50% OFF)
...,...,...,...
95,Kenneth Cole,Men Solid Leather Formal Brogues,Rs. 9093Rs. 12990(30% OFF)
96,Birkenstock,Women Derbys Casual Shoes,Rs. 11990
97,ALDO,Men Sneakers,Rs. 9999
98,Nike,KD TREY 5 Basketball Shoes,Rs. 7995
99,ADIDAS,Men Leather COPA 21.3 FG Shoes,Rs. 6999

### Q10: Go to webpage https://www.amazon.in/

In [120]:
#connecting to the web driver
driver = webdriver.Chrome("Chromedriver.exe")

In [121]:
#get the url
url = 'https://www.amazon.in/'
driver.get(url)

In [122]:
#to write Laptop in the search box by using id
search = driver.find_element_by_id('twotabsearchtextbox')
search.send_keys('Laptop')

In [123]:
#clicking search button by using xpath
search_button=driver.find_element_by_xpath("//input[@id='nav-search-submit-button']")
search_button.click()

In [124]:
#clicking the cpu filter by xpath
cpu_filter=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[1]/li[26]/span/a/span')
cpu_filter.click()

In [127]:
#clicking the another cpu filter by xpath
cpu_filter2=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[5]/ul[1]/li[28]/span/a/div')
cpu_filter2.click()

In [128]:
# to scrape top 10 amazon laptops by using xpath function
product_title=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")[:10]
product_title

[<selenium.webdriver.remote.webelement.WebElement (session="c45ca13b534288221df0e6ab5cf5400c", element="f68e274a-3397-4cdb-ba6a-9284a0863dfe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c45ca13b534288221df0e6ab5cf5400c", element="b684de2d-816e-4c3a-bbf5-d91535caa792")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c45ca13b534288221df0e6ab5cf5400c", element="5f99d7c6-70c0-4c28-a10d-ff3f6e02c517")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c45ca13b534288221df0e6ab5cf5400c", element="559b6ff2-0e57-4959-8069-7bac3826ab60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c45ca13b534288221df0e6ab5cf5400c", element="00834835-406f-4f0e-883e-6f8e0f758a1b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c45ca13b534288221df0e6ab5cf5400c", element="befab673-b4db-4610-86b8-554f73980151")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c45ca13b534288221df0e6ab5cf5400c", element="a831fea6-0625-47e1-95c2-e2be8e078d3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c45ca13b534288221df0e6ab5cf5400c", element="1b22027e-653d-46e9-91a9-70c489d579b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c45ca13b534288221df0e6ab5cf5400c", element="13598848-d500-4e2b-8ad5-eeffd1e1dfd8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c45ca13b534288221df0e6ab5cf5400c", element="34e2ca84-6724-416d-8fc0-063f0a9582ac")>]

In [129]:
title=[]
for i in product_title:
    title.append(i.text)
title

['HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 'Dell Inspiron 5410 14" FHD Touch Display 2in1 Laptop (i7-1165G7 / 16GB / 512GB SSD / Integrated Graphics / Win 10 + MSO / Backlit KB + FPR + Active Pen / Silver Metal Color) D560469WIN9S',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX',
 'HP Pavilion Gaming(2021) 10th Gen Intel Core i7 15.6-inch(39.6 cm) FHD IPS 144Hz Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/NVIDIA GTX 1650Ti 4GB/Win 10/MS Office/Shadow Black), 15-DK1511TX',
 'ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i9-11900H 11th Gen, RTX 3060 6GB Graphics Gaming Laptop (16GB RAM/1TB SSD/Office 2019/Windows 10/Gray/2.3 kg), FX566HM-HN097TS',
 'HP Pavilion x360 (2021) 14" (35.56cms) FHD Touchscreen Laptop, 11th Gen Core i7, 8 GB RAM, 512GB SSD, 2-in-1 Convertible, Windows 10, MS Office, Finger Print Reader (14-dw1040TU)',
 'MSI GF63 Thin Core i7 9th Gen - (8 GB/512 GB SSD/Windows 10 Home/4 GB Graphics/NVIDIA Geforce GTX 1650 Max-Q) GF63 Thin 9SCXR-417IN Gaming Laptop (15.6 inch, Black, 1.86 kg)',
 'Lenovo Yoga 7 11th Gen Intel Core i7 14" (35.56cms) Full HD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Fingerprint Reader/Slate Grey/Aluminium Surface/1.43Kg), 82BH004HIN',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AF+Webcam',
 'DELL Inspiron 5593 15.6" (39.62cms) Laptop (10th Gen Core i7-1065G7/8GB/1TB HDD + 512GB SSD/Windows 10 Home Plus/4GB NVIDIA MX230 GDDR5 Graphics), Platinum Silver']

In [130]:
#to scrape top 10 ratings of laptops by using xpath
rate=driver.find_elements_by_xpath("//span[@class='a-size-base']")[:10]
rate

[<selenium.webdriver.remote.webelement.WebElement (session="c45ca13b534288221df0e6ab5cf5400c", element="16cca8ac-1ddd-4e87-8236-9d362345fb04")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c45ca13b534288221df0e6ab5cf5400c", element="d0b32771-a6ae-40a5-9d2c-ee31f32b356e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c45ca13b534288221df0e6ab5cf5400c", element="a69ae6ec-ce95-4e7f-880a-1b9af669c719")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c45ca13b534288221df0e6ab5cf5400c", element="e371e775-6c11-45a8-a37a-784f1b55e353")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c45ca13b534288221df0e6ab5cf5400c", element="70a93c7d-83b3-4cd8-88c7-638e6a620631")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c45ca13b534288221df0e6ab5cf5400c", element="0dd6a5af-468d-4bd0-af4f-b0932e9c41f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c45ca13b534288221df0e6ab5cf5400c", element="6952745f-353b-47dd-bf15-ca23a96a726e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c45ca13b534288221df0e6ab5cf5400c", element="cbb609db-c130-45f6-887c-67811055551c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c45ca13b534288221df0e6ab5cf5400c", element="16ebb67e-5c68-48ff-a1b5-88298e110154")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c45ca13b534288221df0e6ab5cf5400c", element="a86cdca7-c606-4987-9131-c753c8b08f4d")>]

In [131]:
ratings=[]
for i in rate:
    ratings.append(i.text)
ratings

['130', '1', '39', '1', '43', '1', '20', '919', '40', '11']

In [132]:
#to scrape top 10 laptop prices by using xpath
cost=driver.find_elements_by_xpath("//span[@class='a-price-whole']")[:10]
cost

[<selenium.webdriver.remote.webelement.WebElement (session="c45ca13b534288221df0e6ab5cf5400c", element="182d6dcf-1c39-4579-8c50-e7583d22f0ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c45ca13b534288221df0e6ab5cf5400c", element="f286707e-8b56-497a-a90f-1c2e1de20ff8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c45ca13b534288221df0e6ab5cf5400c", element="ed6747ad-2a94-4e29-93d1-bc578db4152d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c45ca13b534288221df0e6ab5cf5400c", element="1f18b247-4c68-47d8-a4c5-91e3e7f442f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c45ca13b534288221df0e6ab5cf5400c", element="e4fba96a-3a82-4dc3-84cb-dc457a469dc5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c45ca13b534288221df0e6ab5cf5400c", element="0c9c133c-1783-4270-92c0-3e8c74a5a1c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c45ca13b534288221df0e6ab5cf5400c", element="4e40f318-6e22-443c-bed4-e0aaeb6d7f18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c45ca13b534288221df0e6ab5cf5400c", element="b10f423c-01a5-480f-a044-b1ea11b868b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c45ca13b534288221df0e6ab5cf5400c", element="b34d6dae-e55c-48cb-b16d-b10134e842d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c45ca13b534288221df0e6ab5cf5400c", element="8355d0b3-b9aa-4476-8fca-e3a5f27d1030")>]

In [133]:
price=[]
for i in cost:
    price.append(i.text)
price

['84,990',
 '91,399',
 '86,990',
 '91,990',
 '1,39,990',
 '78,993',
 '66,990',
 '97,051',
 '59,999',
 '82,990']

In [134]:
#checking length by using len function
print(len(title), len(ratings), len(price))

10 10 10

In [135]:
#creating a dataframe by importing pandas as pd
Laptops=pd.DataFrame({})
Laptops['Title']=title
Laptops['Ratings']=ratings
Laptops['Price']=price
Laptops

                                               Title Ratings     Price
0  HP Pavilion (2021) Thin & Light 11th Gen Core ...     130    84,990
1  Dell Inspiron 5410 14" FHD Touch Display 2in1 ...       1    91,399
2  HP Pavilion Gaming 10th Gen Intel Core i7 Proc...      39    86,990
3  HP Pavilion Gaming(2021) 10th Gen Intel Core i...       1    91,990
4  ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...      43  1,39,990
5  HP Pavilion x360 (2021) 14" (35.56cms) FHD Tou...       1    78,993
6  MSI GF63 Thin Core i7 9th Gen - (8 GB/512 GB S...      20    66,990
7  Lenovo Yoga 7 11th Gen Intel Core i7 14" (35.5...     919    97,051
8  Mi Notebook Horizon Edition 14 Intel Core i7-1...      40    59,999
9  DELL Inspiron 5593 15.6" (39.62cms) Laptop (10...      11    82,990